# **Table des matières**

[**Imports et fonctions**](#Imports-et-fonctions)

[**Exploration et préparation des données**](#Exploration-et-préparation)
   - [Cinq datasets](#Cinq-datasets)
   - [population](#population)
   - [sous_nutrition](#sous_nutrition)
   - [aliments (vegetaux + animaux)](#aliments-(vegetaux-+-animaux))
   - [cereales](#cereales)
   - [Résumé](#Résumé)
   - [Hypothèses retenues](#Hypothèses-retenues)

[**Questions 1 à 14**](#Questions-1-à-14) 
   - [Question 1 : Nombre d'humains sur la planète](#Q1-:-Nombre-d'humains-sur-la-planète)
   - [Question 2 : Redondances](#Q2-:-Redondances)
   - [Question 3 : Dispo. alimentaire (calories, protéines)](#Q3-:-Dispo.-alimentaire-(calories,-protéines))
   - [Question 4 : Ratio énergie/poids](#Q4-:-Ratio-énergie/poids)
   - [Question 5 : Aliments les plus caloriques et protéiques](#Q5-:-Aliments-les-plus-caloriques-et-protéiques)
   - [Question 6 : Dispo. intérieure mondiale des végétaux](#Q6-:-Dispo.-intérieure-mondiale-des-végétaux-(calories))
   - [Question 7 : Potentiel alimentaire des végétaux](#Q7-:-Potentiel-alimentaire-des-végétaux)
   - [Question 8 : Potentiel alimentaire des végétaux (destinés aux animaux pertes)](#Q8-:-Potentiel-alimentaire-des-végétaux-(destinés-aux-animaux-+-pertes))
   - [Question 9 : Potentiel alimentaire de la dispo. mondiale](#Q9-:-Potentiel-alimentaire-de-la-dispo.-mondiale)
   - [Question 10 : Pourcentage de la sous-nutrition mondiale](#Q10-:-Pourcentage-de-la-sous-nutrition-mondiale)
   - [Question 11 : Céréales](#Q11-:-Céréales)
   - [Question 12 : Sous-nutrition](#Q12-:-Sous-nutrition)
   - [Question 13 : USA](#Q13-:-USA)
   - [Question 14 : Thaïlande](#Q14-:-Thaïlande)

[**Questions 15 à 20**](#Questions-15-à-20)
   - [Question 15 : Table population](#Q15-:-Table-population)
   - [Question 16 : Table dispo_alim](#Q16-:-Table-dispo_alim)
   - [Question 17 : Table equilibre_prod](#Q17-:-Table-equilibre_prod)
   - [Question 18 : Table sous_nutrition](#Q18-:-Table-sous_nutrition)
   - [Question 19 : Requêtes SQL](#Q19-:-Requêtes-SQL)
   - [Question 20 : Autres utilisations des produits](#Q20-:-Autres-utilisations-des-produits)

[**Analyses supplémentaires**](#Analyses-supplémentaires)
   - [Nombre de personnes sous-alimentées](#Nombre-de-personnes-sous-alimentées)
   - [Décès dus à la faim](#Décès-dus-à-la-faim)
   - [Évolutions possibles pour 2050](#Évolutions-possibles-pour-2050)
   - [Causes de la sous-alimentation](#Causes-de-la-sous-alimentation)      
   
[**Sources**](#Sources)

# **Imports et fonctions**

In [1]:
# Import des librairies
import numpy as np
import pandas as pd

# Affichage des valeurs : séparer les milliers, et réduire le nombre de décimales
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# Import des fichiers et création des dataframes
url = 'sources/fr_'
population =       pd.read_csv(url + 'population' + '.csv')
sous_nutrition =   pd.read_csv(url + 'sousalimentation' + '.csv')    
animaux =          pd.read_csv(url + 'animaux' + '.csv')
cereales =         pd.read_csv(url + 'cereales' + '.csv')    
vegetaux =         pd.read_csv(url + 'vegetaux' + '.csv')

In [3]:
# Liste des dataframes
listDf = [population, sous_nutrition, animaux, cereales, vegetaux]
listDfStr = ['population', 'sous_nutrition', 'animaux', 'cereales', 'vegetaux']

In [4]:
# Fonction d'exploration des datasets
def exploration(df):
    
    # Noms des colonnes, null-count, types d'objets 
    print(df.info())
    
    print('\n')
    for i in range(0, len(df.columns)):
        
        # Nom de la colonne
        print(df.columns[i], ':')
        
        # Nombre de Nan 
        print(sum(df.iloc[:, i].isna()), 'Nan')
        
        # Nombre de zéros
        print(df.shape[0] - np.count_nonzero(df.iloc[:, i]), 'zéros')
        
        # Nombre de valeurs uniques 
        print(len(df.iloc[:, i].unique()), 'valeurs uniques :')
        print(df.iloc[:, i].unique())
        
        # .describe()
        print(df.iloc[:, i].describe())
        
        print('\n')

In [5]:
# Fonction de recherche de clé primaire (une seule colonne)

def pk(df,col): # Ne pas oublier les guillemets en déclarant le paramètre col

    x = 0
    df = df.reset_index()
    
    for i in range(0,len(df)):
    
        # Valeur à rechercher
        searched = df.loc[i][col]

        # Rechercher cette valeur dans toute la df, et supprimer les duplicates pour vérifier combien de lignes on obtient
        s = df[df[col]==searched].drop_duplicates()
        
        # Si on obtient une seule ligne, c'est a priori une clé primaire
        if len(s) == 1:
            x += 1
    
    # Si pour chaque ligne de la df, la requêtes a ajouté 1 à x, alors x = la longueur de la dataframe
    if x == len(df):
        print('\'', col, '\' est bien une clé primaire.')
    else:
        print('\'', col, '\' n\'est pas une clé primaire.')

# **Exploration et préparation**

## Cinq datasets
- Les datasets contiennent les mêmes nombres et intitulés de colonnes, à l'exception de sous_nutrition, qui compte en plus la colonne 'Note'

In [6]:
population.sample(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle

In [7]:
sous_nutrition.sample(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
136,FS,Données de la sécurité alimentaire,21,Brésil,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,NaN,NR,Non rapportée,nan

In [8]:
animaux.sample(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
4289,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,17,Bermudes,5154,Autres utilisations (non alimentaire),2781,Huiles de Poissons,2013,2013,Milliers de tonnes,0.00,S,Données standardisées

In [9]:
vegetaux.sample(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
25861,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,48,Costa Rica,684,Disponibilité de matière grasse en quantité (g...,2615,Bananes,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée

In [10]:
cereales.sample(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
197,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,44,Colombie,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,8,S,Données standardisées

In [11]:
# Renommer les différentes colonnes des datasets
for i in range(0, len(listDf)):
    listDf[i].rename(columns={
        'Code zone' : 'code_pays',
        'Zone' : 'pays',
        'Année' : 'annee',
        'Produit' : 'produit',
        'Code Produit' : 'code_produit'
    }, inplace=True)

In [12]:
# Exploration des 5 datasets
for i in range(0, len(listDf)):
    print(
        listDfStr[i], ':',
        
        # Dimensions
        listDf[i].shape[1], 'colonnes, ',
        listDf[i].shape[0], 'lignes \n \n',
        
        # Noms des colonnes 
        listDf[i].columns, '\n \n'
    )

population : 14 colonnes,  175 lignes

 Index(['Code Domaine', 'Domaine', 'code_pays', 'pays', 'Code Élément',
       'Élément', 'code_produit', 'produit', 'Code année', 'annee', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')


sous_nutrition : 15 colonnes,  1020 lignes

 Index(['Code Domaine', 'Domaine', 'code_pays', 'pays', 'Code Élément',
       'Élément', 'code_produit', 'produit', 'Code année', 'annee', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Note'],
      dtype='object')


animaux : 14 colonnes,  37166 lignes

 Index(['Code Domaine', 'Domaine', 'code_pays', 'pays', 'Code Élément',
       'Élément', 'code_produit', 'produit', 'Code année', 'annee', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')


cereales : 14 colonnes,  891 lignes

 Index(['Code Domaine', 'Domaine', 'code_pays', 'pays', 'Code Élément',
       'Élément', 'code_produit', 'produit', 'Code année', 'annee', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')


vegetaux : 14 colonnes,  104871 lignes

 Index(['Code Domaine', 'Domaine', 'code_pays', 'pays', 'Code Élément',
       'Élément', 'code_produit', 'produit', 'Code année', 'annee', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

## population
- A l'exception de 'Code zone', 'Zone', 'Valeur', 'Symbole' et 'Description du Symbole', toutes les colonnes contiennent une seule valeur
- Ces colonnes ne sont pas des clés, elles sont inutiles à l'exception de 'Année' (voir table [sous_nutrition](#sous_nutrition))
- Les colonnes 'Symbole' et 'Description du Symbole' ne contiennent que 2 valeurs indiquant la présence d'un agrégat (voir [question 1](#Question-1))
- Les colonnes 'Zone' et 'Code zone' contiennent les pays et leur code (175 au total, soit 19 de mois que le [nombre d'états membres de la FAO](http://www.fao.org/about/who-we-are/fr/#:~:text=La%20FAO%20est%20une%20organisation,membre%2C%20l'Union%20europ%C3%A9enne.))

In [13]:
exploration(population)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   code_pays               175 non-null    int64
 3   pays                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   code_produit            175 non-null    int64
 7   produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   annee                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB
None


Code Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['FBSH']
count      175
unique       1
top       FBSH
freq       175
Name: Code Domaine, dtype: object


Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['Bilans Alimentaire (Ancienne méthodologie et population)']
count                                                   175
unique                                                    1
top       Bilans Alimentaire (Ancienne méthodologie et p...
freq                                                    175
Name: Domaine, dtype: object


code_pays :
0 Nan
0 zéros
175 valeurs uniques :
[  2 202   3   4  79   7   8 194   9   1  10  11  52  12  16  14  57 255
  23  53  17  19  80  20  21  26  27 233  35 115  32  33  40 351  96 128
  41 214  50  44  46  48 107  98  49  54  72  55  59  60 225  58 203  63
 209 231 238 185  66  67  68  74  75  73  81  84  86  89  90 175  91  93
  95  97  25 100 101 102 103 104  99 105 106 109 110 112 108 114 113  83
 118 122 119 121 123 126 256 154 129 131 130 132 133 134 143 137 136 138
 141 273 144  28 147 149 157 158 159 162 153 156 221 226 235 165 166 169
 150 170 171 173  70 174  37 117 146 120  56 116 215 183 229 184 189 188
 191 244 193 195 272 197 199 198 276  38 210 211 207 208  39 167 216 176
 217 220 222 213 223 230 234 155 236 237 249 251 181]
count   175.00
mean    126.72
std      75.17
min       1.00
25%      64.50
50%     121.00
75%     188.50
max     351.00
Name: code_pays, dtype: float64


pays :
0 Nan
0 zéros
175 valeurs uniques :
['Afghanistan' 'Afrique du Sud' 'Albanie' 'Algérie' 'Allemagne' 'Angola'
 'Antigua-et-Barbuda' 'Arabie saoudite' 'Argentine' 'Arménie' 'Australie'
 'Autriche' 'Azerbaïdjan' 'Bahamas' 'Bangladesh' 'Barbade' 'Bélarus'
 'Belgique' 'Belize' 'Bénin' 'Bermudes' 'Bolivie (État plurinational de)'
 'Bosnie-Herzégovine' 'Botswana' 'Brésil' 'Brunéi Darussalam' 'Bulgarie'
 'Burkina Faso' 'Cabo Verde' 'Cambodge' 'Cameroun' 'Canada' 'Chili'
 'Chine' 'Chine - RAS de Hong-Kong' 'Chine - RAS de Macao'
 'Chine, continentale' 'Chine, Taiwan Province de' 'Chypre' 'Colombie'
 'Congo' 'Costa Rica' "Côte d'Ivoire" 'Croatie' 'Cuba' 'Danemark'
 'Djibouti' 'Dominique' 'Égypte' 'El Salvador' 'Émirats arabes unis'
 'Équateur' 'Espagne' 'Estonie' 'Eswatini' "États-Unis d'Amérique"
 'Éthiopie' 'Fédération de Russie' 'Fidji' 'Finlande' 'France' 'Gabon'
 'Gambie' 'Géorgie' 'Ghana' 'Grèce' 'Grenade' 'Guatemala' 'Guinée'
 'Guinée-Bissau' 'Guyana' 'Haïti' 'Honduras' 'Hongrie' 'Îles Salomon'
 'Inde' 'Indonésie' "Iran (République islamique d')" 'Iraq' 'Irlande'
 'Islande' 'Israël' 'Italie' 'Jamaïque' 'Japon' 'Jordanie' 'Kazakhstan'
 'Kenya' 'Kirghizistan' 'Kiribati' 'Koweït' 'Lesotho' 'Lettonie' 'Liban'
 'Libéria' 'Lituanie' 'Luxembourg' 'Macédoine du Nord' 'Madagascar'
 'Malaisie' 'Malawi' 'Maldives' 'Mali' 'Malte' 'Maroc' 'Maurice'
 'Mauritanie' 'Mexique' 'Mongolie' 'Monténégro' 'Mozambique' 'Myanmar'
 'Namibie' 'Népal' 'Nicaragua' 'Niger' 'Nigéria' 'Norvège'
 'Nouvelle-Calédonie' 'Nouvelle-Zélande' 'Oman' 'Ouganda' 'Ouzbékistan'
 'Pakistan' 'Panama' 'Paraguay' 'Pays-Bas' 'Pérou' 'Philippines' 'Pologne'
 'Polynésie française' 'Portugal' 'République centrafricaine'
 'République de Corée' 'République de Moldova'
 'République démocratique populaire lao' 'République dominicaine'
 'République populaire démocratique de Corée'
 'République-Unie de Tanzanie' 'Roumanie' 'Royaume-Uni' 'Rwanda'
 'Sainte-Lucie' 'Saint-Kitts-et-Nevis' 'Saint-Vincent-et-les Grenadines'
 'Samoa' 'Sao Tomé-et-Principe' 'Sénégal' 'Serbie' 'Sierra Leone'
 'Slovaquie' 'Slovénie' 'Soudan' 'Sri Lanka' 'Suède' 'Suisse' 'Suriname'
 'Tadjikistan' 'Tchad' 'Tchéquie (la)' 'Thaïlande' 'Timor-Leste' 'Togo'
 'Trinité-et-Tobago' 'Tunisie' 'Turkménistan' 'Turquie' 'Ukraine'
 'Uruguay' 'Vanuatu' 'Venezuela (République bolivarienne du)' 'Viet Nam'
 'Yémen' 'Zambie' 'Zimbabwe']
count          175
unique         175
top       Colombie
freq             1
Name: pays, dtype: object


Code Élément :
0 Nan
0 zéros
1 valeurs uniques :
[511]
count   175.00
mean    511.00
std       0.00
min     511.00
25%     511.00
50%     511.00
75%     511.00
max     511.00
Name: Code Élément, dtype: float64


Élément :
0 Nan
0 zéros
1 valeurs uniques :
['Population totale']
count                   175
unique                    1
top       Population totale
freq                    175
Name: Élément, dtype: object


code_produit :
0 Nan
0 zéros
1 valeurs uniques :
[2501]
count     175.00
mean    2,501.00
std         0.00
min     2,501.00
25%     2,501.00
50%     2,501.00
75%     2,501.00
max     2,501.00
Name: code_produit, dtype: float64


produit :
0 Nan
0 zéros
1 valeurs uniques :
['Population']
count            175
unique             1
top       Population
freq             175
Name: produit, dtype: object


Code année :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count     175.00
mean    2,013.00
std         0.00
min     2,013.00
25%     2,013.00
50%     2,013.00
75%     2,013.00
max     2,013.00
Name: Code année, dtype: float64


annee :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count     175.00
mean    2,013.00
std         0.00
min     2,013.00
25%     2,013.00
50%     2,013.00
75%     2,013.00
max     2,013.00
Name: annee, dtype: float64


Unité :
0 Nan
0 zéros
1 valeurs uniques :
['1000 personnes']
count                175
unique                 1
top       1000 personnes
freq                 175
Name: Unité, dtype: object


Valeur :
0 Nan
0 zéros
175 valeurs uniques :
[  30552   52776    3173   39208   82727   21472      90   28829   41446
    2977   23343    8495    9413     377  156595     285    9357   11104
     332   10323      65   10671    3829    2021  200362     418    7223
   16935     499   15135   22254   35182   17620 1416667    7204     566
 1385567   23330    1141   48321    4448    4872   20316    4290   11266
    5619     873      72   82056    6340    9346   15738   46927    1287
    1250  320051   94101  142834     881    5426   64291    1672    1849
    4341   25905   11128     106   15468   11745    1704     800   10317
    8096    9955     561 1252140  249866   77447   33765    4627     330
    7733   60990    2784  127144    7274   16441   44354    5548     102
    3369    2074    2050    4822    4294    3017     530    2107   22925
   29717   16363     345   15302     429   33008    1244    3890  122332
    2839     621   25834   53259    2303   27797    6080   17831  173615
    5043     256    4506    3632   37579   28934  182143    3864    6802
   16759   30376   98394   38217     277   10608    4616   49263    3487
    6770   10404   24895   49253   21699   63384   11777     182      54
     109     190     193   14133    9511    6092    5450    2072   37964
   21273    9571    8078     539    8208   12825   10702   67011    1133
    6817    1341   10997    5240   74933   45239    3407     253   30405
   91680   24407   14539   14150]
count         175.00
mean       48,079.96
std       178,632.74
min            54.00
25%         2,543.50
50%         9,413.00
75%        28,881.50
max     1,416,667.00
Name: Valeur, dtype: float64


Symbole :
174 Nan
0 zéros
2 valeurs uniques :
[nan 'A']
count     1
unique    1
top       A
freq      1
Name: Symbole, dtype: object


Description du Symbole :
0 Nan
0 zéros
2 valeurs uniques :
['Donnée officielle'
 'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées']
count                   175
unique                    2
top       Donnée officielle
freq                    174
Name: Description du Symbole, dtype: object

In [14]:
# Renommer la colonne 'Valeur'
population.rename(columns={'Valeur' : 'population'}, inplace=True)

# Projection des colonnes contenant plus d'une valeur (excepté 'annee')
# Conserver temporairement 'Description du Symbole', en prévision de la question 1
population = population[['code_pays','pays','population','annee','Description du Symbole']]

# Conversion de la population en habitants
population['population'] = population['population'] * 1000

# Affichage
population.sample(3)

<ipython-input-14-281ff81a35e9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['population'] = population['population'] * 1000

     code_pays                  pays  population  annee Description du Symbole
103        134                 Malte      429000   2013      Donnée officielle
8            9             Argentine    41446000   2013      Donnée officielle
35         128  Chine - RAS de Macao      566000   2013      Donnée officielle

## sous_nutrition
- Seules les colonnes 'Code zone', 'Zone', 'Code année', 'Année', 'Valeur', 'Symbole et Description du Symbole' contiennent plus d'une valeur
- Contrairement à population, la colonne 'Unité' référence en millions la colonne 'Valeur' (mais la colonne valeur contient 40% de nulls)
- La colonne 'Valeur' contient des valeurs non numériques ('<0.1')
- Cette même colonne 'Valeur' n'est pas de type int, et contient des strings
- La colonne 'Note' est vide (seule colonne non commune aux autres tables)
- Contrairement à population, animaux et vegetaux, on compte ici plus de pays (204) que le FAO ne compte d'états membres
- Contrairement aux autres tables, la colonne année va de 2012-2014 à 2016-2018

In [15]:
exploration(sous_nutrition)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            1020 non-null   object
 1   Domaine                 1020 non-null   object
 2   code_pays               1020 non-null   int64
 3   pays                    1020 non-null   object
 4   Code Élément            1020 non-null   int64
 5   Élément                 1020 non-null   object
 6   code_produit            1020 non-null   int64
 7   produit                 1020 non-null   object
 8   Code année              1020 non-null   int64
 9   annee                   1020 non-null   object
 10  Unité                   1020 non-null   object
 11  Valeur                  605 non-null    object
 12  Symbole                 1020 non-null   object
 13  Description du Symbole  1020 non-null   object
 14  Note                    0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 119.7+ KB
None


Code Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['FS']
count     1020
unique       1
top         FS
freq      1020
Name: Code Domaine, dtype: object


Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['Données de la sécurité alimentaire']
count                                   1020
unique                                     1
top       Données de la sécurité alimentaire
freq                                    1020
Name: Domaine, dtype: object


code_pays :
0 Nan
0 zéros
204 valeurs uniques :
[  2 202   3   4  79   6   7   8 194   9   1  10  11  52  12  13  16  14
  57 255  23  53  17  18  19  80  20  21  26  27 233  29  35 115  32  33
  40 351  96 128  41 214  50  44  45  46  48 107  98  49  54  72  55  59
  60 225  58 178 203  63 209 231 238 185  66  67  68  74  75  73  81  84
  86  85  89  90  61 175  91  93  95  97  47 127  25 100 101 102 103 104
  99 105 106 109 110 112 108 114 113  83 118 122 119 121 123 124 126 256
 154 129 131 130 132 133 134 143 137 136 138 145 141 273 144  28 147 148
 149 157 158 159 160 162 153 156 221 226 235 165 180 299 166 168 169 150
 170 171 173  70 177 174 179 212  37 117 146 250 120  56 116 215 183 229
 184 189 188 191 244   5 193 195 272 196 197 200 199 198 201 276 277  38
 210 211 207 208  39 167 216 176 217 218 219 220 222 213 223 227 230 234
 155 236 237 249 251 181]
count   1,020.00
mean      129.26
std        76.62
min         1.00
25%        62.50
50%       127.50
75%       193.25
max       351.00
Name: code_pays, dtype: float64


pays :
0 Nan
0 zéros
204 valeurs uniques :
['Afghanistan' 'Afrique du Sud' 'Albanie' 'Algérie' 'Allemagne' 'Andorre'
 'Angola' 'Antigua-et-Barbuda' 'Arabie saoudite' 'Argentine' 'Arménie'
 'Australie' 'Autriche' 'Azerbaïdjan' 'Bahamas' 'Bahreïn' 'Bangladesh'
 'Barbade' 'Bélarus' 'Belgique' 'Belize' 'Bénin' 'Bermudes' 'Bhoutan'
 'Bolivie (État plurinational de)' 'Bosnie-Herzégovine' 'Botswana'
 'Brésil' 'Brunéi Darussalam' 'Bulgarie' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodge' 'Cameroun' 'Canada' 'Chili' 'Chine'
 'Chine - RAS de Hong-Kong' 'Chine - RAS de Macao' 'Chine, continentale'
 'Chine, Taiwan Province de' 'Chypre' 'Colombie' 'Comores' 'Congo'
 'Costa Rica' "Côte d'Ivoire" 'Croatie' 'Cuba' 'Danemark' 'Djibouti'
 'Dominique' 'Égypte' 'El Salvador' 'Émirats arabes unis' 'Équateur'
 'Érythrée' 'Espagne' 'Estonie' 'Eswatini' "États-Unis d'Amérique"
 'Éthiopie' 'Fédération de Russie' 'Fidji' 'Finlande' 'France' 'Gabon'
 'Gambie' 'Géorgie' 'Ghana' 'Grèce' 'Grenade' 'Groenland' 'Guatemala'
 'Guinée' 'Guinée équatoriale' 'Guinée-Bissau' 'Guyana' 'Haïti' 'Honduras'
 'Hongrie' 'Îles Cook' 'Îles Marshall' 'Îles Salomon' 'Inde' 'Indonésie'
 "Iran (République islamique d')" 'Iraq' 'Irlande' 'Islande' 'Israël'
 'Italie' 'Jamaïque' 'Japon' 'Jordanie' 'Kazakhstan' 'Kenya'
 'Kirghizistan' 'Kiribati' 'Koweït' 'Lesotho' 'Lettonie' 'Liban' 'Libéria'
 'Libye' 'Lituanie' 'Luxembourg' 'Macédoine du Nord' 'Madagascar'
 'Malaisie' 'Malawi' 'Maldives' 'Mali' 'Malte' 'Maroc' 'Maurice'
 'Mauritanie' 'Mexique' 'Micronésie (États fédérés de)' 'Mongolie'
 'Monténégro' 'Mozambique' 'Myanmar' 'Namibie' 'Nauru' 'Népal' 'Nicaragua'
 'Niger' 'Nigéria' 'Nioué' 'Norvège' 'Nouvelle-Calédonie'
 'Nouvelle-Zélande' 'Oman' 'Ouganda' 'Ouzbékistan' 'Pakistan' 'Palaos'
 'Palestine' 'Panama' 'Papouasie-Nouvelle-Guinée' 'Paraguay' 'Pays-Bas'
 'Pérou' 'Philippines' 'Pologne' 'Polynésie française' 'Porto Rico'
 'Portugal' 'Qatar' 'République arabe syrienne'
 'République centrafricaine' 'République de Corée' 'République de Moldova'
 'République démocratique du Congo'
 'République démocratique populaire lao' 'République dominicaine'
 'République populaire démocratique de Corée'
 'République-Unie de Tanzanie' 'Roumanie' 'Royaume-Uni' 'Rwanda'
 'Sainte-Lucie' 'Saint-Kitts-et-Nevis' 'Saint-Vincent-et-les Grenadines'
 'Samoa' 'Samoa américaines' 'Sao Tomé-et-Principe' 'Sénégal' 'Serbie'
 'Seychelles' 'Sierra Leone' 'Singapour' 'Slovaquie' 'Slovénie' 'Somalie'
 'Soudan' 'Soudan du Sud' 'Sri Lanka' 'Suède' 'Suisse' 'Suriname'
 'Tadjikistan' 'Tchad' 'Tchéquie (la)' 'Thaïlande' 'Timor-Leste' 'Togo'
 'Tokélaou' 'Tonga' 'Trinité-et-Tobago' 'Tunisie' 'Turkménistan' 'Turquie'
 'Tuvalu' 'Ukraine' 'Uruguay' 'Vanuatu'
 'Venezuela (République bolivarienne du)' 'Viet Nam' 'Yémen' 'Zambie'
 'Zimbabwe']
count         1020
unique         204
top       Colombie
freq             5
Name: pays, dtype: object


Code Élément :
0 Nan
0 zéros
1 valeurs uniques :
[6132]
count   1,020.00
mean    6,132.00
std         0.00
min     6,132.00
25%     6,132.00
50%     6,132.00
75%     6,132.00
max     6,132.00
Name: Code Élément, dtype: float64


Élément :
0 Nan
0 zéros
1 valeurs uniques :
['Valeur']
count       1020
unique         1
top       Valeur
freq        1020
Name: Élément, dtype: object


code_produit :
0 Nan
0 zéros
1 valeurs uniques :
[210011]
count     1,020.00
mean    210,011.00
std           0.00
min     210,011.00
25%     210,011.00
50%     210,011.00
75%     210,011.00
max     210,011.00
Name: code_produit, dtype: float64


produit :
0 Nan
0 zéros
1 valeurs uniques :
['Nombre de personnes sous-alimentées (millions) (moyenne sur 3 ans)']
count                                                  1020
unique                                                    1
top       Nombre de personnes sous-alimentées (millions)...
freq                                                   1020
Name: produit, dtype: object


Code année :
0 Nan
0 zéros
5 valeurs uniques :
[20122014 20132015 20142016 20152017 20162018]
count        1,020.00
mean    20,142,016.00
std         14,150.49
min     20,122,014.00
25%     20,132,015.00
50%     20,142,016.00
75%     20,152,017.00
max     20,162,018.00
Name: Code année, dtype: float64


annee :
0 Nan
0 zéros
5 valeurs uniques :
['2012-2014' '2013-2015' '2014-2016' '2015-2017' '2016-2018']
count          1020
unique            5
top       2013-2015
freq            204
Name: annee, dtype: object


Unité :
0 Nan
0 zéros
1 valeurs uniques :
['millions']
count         1020
unique           1
top       millions
freq          1020
Name: Unité, dtype: object


Valeur :
415 Nan
0 zéros
147 valeurs uniques :
['7.9' '8.8' '9.6' '10.2' '10.6' '2.6' '2.8' '3.2' '3.4' '3.5' '0.2' '1.7'
 '1.6' nan '8.1' '7.6' '7.4' '1.8' '2' '2.3' '1.5' '2.1' '0.1' '26.1'
 '25.8' '25.3' '24.7' '24.2' '<0.1' '1' '1.1' '2.2' '1.9' '0.5' '0.6'
 '0.4' '0.3' '3.6' '3.7' '3.8' '2.7' '2.4' '137.7' '130' '125' '123.1'
 '122.4' '136.6' '129' '124' '122.1' '121.4' '0.9' '0.8' '4.1' '3.1' '4.7'
 '4.6' '3.9' '4' '4.2' '4.4' '0.7' '1.3' '23.8' '22.7' '21.9' '21.6' '2.5'
 '5.2' '5.3' '5.4' '1.2' '216.3' '210.4' '202.7' '196.9' '194.4' '22.6'
 '22.3' '22.5' '22' '9.1' '10.7' '11.1' '10' '10.5' '11.8' '13.3' '14.6'
 '8.2' '11.4' '3.3' '1.4' '5' '4.9' '4.8' '7' '7.3' '8.3' '6.6' '6.1'
 '5.8' '5.6' '5.7' '2.9' '13.4' '15.2' '17.4' '21.4' '25.6' '12.6' '13.6'
 '15.1' '16.5' '17.6' '38.1' '38.9' '39.3' '39.7' '40' '3' '14' '13.9'
 '10.9' '11.2' '11.7' '12.2' '16.4' '16.7' '17' '17.2' '4.3' '4.5' '7.8'
 '5.1' '5.5' '6.8' '10.4' '9.7' '9.2' '8.9' '7.2' '9.3' '11' '8' '8.5']
count      605
unique     146
top       <0.1
freq       115
Name: Valeur, dtype: object


Symbole :
0 Nan
0 zéros
3 valeurs uniques :
['F' 'NR' 'NV']
count     1020
unique       3
top          F
freq       605
Name: Symbole, dtype: object


Description du Symbole :
0 Nan
0 zéros
3 valeurs uniques :
['Estimation FAO' 'Non rapportée' 'Non disponible']
count               1020
unique                 3
top       Estimation FAO
freq                 605
Name: Description du Symbole, dtype: object


Note :
1020 Nan
0 zéros
1 valeurs uniques :
[nan]
count   0.00
mean     nan
std      nan
min      nan
25%      nan
50%      nan
75%      nan
max      nan
Name: Note, dtype: float64

In [16]:
# Renommer la colonne 'Valeur'
sous_nutrition.rename(columns={
    'Valeur' : 'nb_personnes'
}, inplace=True)

# Projection
sous_nutrition = sous_nutrition[['code_pays','pays','nb_personnes','annee']]

# Remplacer les '<0.1' (par 0)
sous_nutrition['nb_personnes'].replace('<0.1', '0', inplace=True)

# La colonne nb_personnes ne contient que des strings
print('Type des valeurs de la colonne \'nb_personnes\' :', type(sous_nutrition['nb_personnes'].loc[5]), '\n')

# Convertir la colonne nb_personnes en float
sous_nutrition['nb_personnes'] = sous_nutrition['nb_personnes'].astype(float)

# Conversion de nb_personnes en habitants
sous_nutrition['nb_personnes'] = sous_nutrition['nb_personnes'] * 1000000

# Affichage
print(sous_nutrition.sample(3))

Type des valeurs de la colonne 'nb_personnes' : <class 'str'>

     code_pays                    pays  nb_personnes      annee
588        136              Mauritanie    400,000.00  2015-2017
786         56  République dominicaine  1,300,000.00  2013-2015
43         194         Arabie saoudite  2,000,000.00  2015-2017

c:\users\guifo\appdata\local\programs\python\python38\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-16-38c88a28aea6>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sous_nutrition['nb_personnes'] = sous_nutrition['nb_personnes'].astype(float)
<ipython-input-16-38c88a28aea6>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sous_nutrition['nb_personnes'] = sous_nutrition['nb_personnes'] * 1000000

## aliments (vegetaux + animaux)
- Ces 2 tables comportent les mêmes structures et valeurs, à l'exception des colonnes référençant les produits et valeurs

In [17]:
exploration(animaux)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37166 entries, 0 to 37165
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            37166 non-null  object
 1   Domaine                 37166 non-null  object
 2   code_pays               37166 non-null  int64
 3   pays                    37166 non-null  object
 4   Code Élément            37166 non-null  int64
 5   Élément                 37166 non-null  object
 6   code_produit            37166 non-null  int64
 7   produit                 37166 non-null  object
 8   Code année              37166 non-null  int64
 9   annee                   37166 non-null  int64
 10  Unité                   37166 non-null  object
 11  Valeur                  37166 non-null  float64
 12  Symbole                 37166 non-null  object
 13  Description du Symbole  37166 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 4.0+ MB
None


Code Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['FBSH']
count     37166
unique        1
top        FBSH
freq      37166
Name: Code Domaine, dtype: object


Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['Bilans Alimentaire (Ancienne méthodologie et population)']
count                                                 37166
unique                                                    1
top       Bilans Alimentaire (Ancienne méthodologie et p...
freq                                                  37166
Name: Domaine, dtype: object


code_pays :
0 Nan
0 zéros
175 valeurs uniques :
[  2 202   3   4  79   7   8 194   9   1  10  11  52  12  16  14  57 255
  23  53  17  19  80  20  21  26  27 233  35 115  32  33  40 351  96 128
  41 214  50  44  46  48 107  98  49  54  72  55  59  60 225  58 203  63
 209 231 238 185  66  67  68  74  75  73  81  84  86  89  90 175  91  93
  95  97  25 100 101 102 103 104  99 105 106 109 110 112 108 114 113  83
 118 122 119 121 123 126 256 154 129 131 130 132 133 134 143 137 136 138
 141 273 144  28 147 149 157 158 159 162 153 156 221 226 235 165 166 169
 150 170 171 173  70 174  37 117 146 120  56 116 215 183 229 184 189 188
 191 244 193 195 272 197 199 198 276  38 210 211 207 208  39 167 216 176
 217 220 222 213 223 230 234 155 236 237 249 251 181]
count   37,166.00
mean       126.80
std         74.77
min          1.00
25%         63.00
50%        121.00
75%        189.00
max        351.00
Name: code_pays, dtype: float64


pays :
0 Nan
0 zéros
175 valeurs uniques :
['Afghanistan' 'Afrique du Sud' 'Albanie' 'Algérie' 'Allemagne' 'Angola'
 'Antigua-et-Barbuda' 'Arabie saoudite' 'Argentine' 'Arménie' 'Australie'
 'Autriche' 'Azerbaïdjan' 'Bahamas' 'Bangladesh' 'Barbade' 'Bélarus'
 'Belgique' 'Belize' 'Bénin' 'Bermudes' 'Bolivie (État plurinational de)'
 'Bosnie-Herzégovine' 'Botswana' 'Brésil' 'Brunéi Darussalam' 'Bulgarie'
 'Burkina Faso' 'Cabo Verde' 'Cambodge' 'Cameroun' 'Canada' 'Chili'
 'Chine' 'Chine - RAS de Hong-Kong' 'Chine - RAS de Macao'
 'Chine, continentale' 'Chine, Taiwan Province de' 'Chypre' 'Colombie'
 'Congo' 'Costa Rica' "Côte d'Ivoire" 'Croatie' 'Cuba' 'Danemark'
 'Djibouti' 'Dominique' 'Égypte' 'El Salvador' 'Émirats arabes unis'
 'Équateur' 'Espagne' 'Estonie' 'Eswatini' "États-Unis d'Amérique"
 'Éthiopie' 'Fédération de Russie' 'Fidji' 'Finlande' 'France' 'Gabon'
 'Gambie' 'Géorgie' 'Ghana' 'Grèce' 'Grenade' 'Guatemala' 'Guinée'
 'Guinée-Bissau' 'Guyana' 'Haïti' 'Honduras' 'Hongrie' 'Îles Salomon'
 'Inde' 'Indonésie' "Iran (République islamique d')" 'Iraq' 'Irlande'
 'Islande' 'Israël' 'Italie' 'Jamaïque' 'Japon' 'Jordanie' 'Kazakhstan'
 'Kenya' 'Kirghizistan' 'Kiribati' 'Koweït' 'Lesotho' 'Lettonie' 'Liban'
 'Libéria' 'Lituanie' 'Luxembourg' 'Macédoine du Nord' 'Madagascar'
 'Malaisie' 'Malawi' 'Maldives' 'Mali' 'Malte' 'Maroc' 'Maurice'
 'Mauritanie' 'Mexique' 'Mongolie' 'Monténégro' 'Mozambique' 'Myanmar'
 'Namibie' 'Népal' 'Nicaragua' 'Niger' 'Nigéria' 'Norvège'
 'Nouvelle-Calédonie' 'Nouvelle-Zélande' 'Oman' 'Ouganda' 'Ouzbékistan'
 'Pakistan' 'Panama' 'Paraguay' 'Pays-Bas' 'Pérou' 'Philippines' 'Pologne'
 'Polynésie française' 'Portugal' 'République centrafricaine'
 'République de Corée' 'République de Moldova'
 'République démocratique populaire lao' 'République dominicaine'
 'République populaire démocratique de Corée'
 'République-Unie de Tanzanie' 'Roumanie' 'Royaume-Uni' 'Rwanda'
 'Sainte-Lucie' 'Saint-Kitts-et-Nevis' 'Saint-Vincent-et-les Grenadines'
 'Samoa' 'Sao Tomé-et-Principe' 'Sénégal' 'Serbie' 'Sierra Leone'
 'Slovaquie' 'Slovénie' 'Soudan' 'Sri Lanka' 'Suède' 'Suisse' 'Suriname'
 'Tadjikistan' 'Tchad' 'Tchéquie (la)' 'Thaïlande' 'Timor-Leste' 'Togo'
 'Trinité-et-Tobago' 'Tunisie' 'Turkménistan' 'Turquie' 'Ukraine'
 'Uruguay' 'Vanuatu' 'Venezuela (République bolivarienne du)' 'Viet Nam'
 'Yémen' 'Zambie' 'Zimbabwe']
count     37166
unique      175
top       Chine
freq        258
Name: pays, dtype: object


Code Élément :
0 Nan
0 zéros
15 valeurs uniques :
[5511 5611 5301 5142  645  664  674  684 5527 5123 5911 5521 5154 5072
 5131]
count   37,166.00
mean     3,511.03
std      2,332.28
min        645.00
25%        674.00
50%      5,142.00
75%      5,511.00
max      5,911.00
Name: Code Élément, dtype: float64


Élément :
0 Nan
0 zéros
15 valeurs uniques :
['Production' 'Importations - Quantité' 'Disponibilité intérieure'
 'Nourriture' 'Disponibilité alimentaire en quantité (kg/personne/an)'
 'Disponibilité alimentaire (Kcal/personne/jour)'
 'Disponibilité de protéines en quantité (g/personne/jour)'
 'Disponibilité de matière grasse en quantité (g/personne/jour)'
 'Semences' 'Pertes' 'Exportations - Quantité' 'Aliments pour animaux'
 'Autres utilisations (non alimentaire)' 'Variation de stock' 'Traitement']
count                        37166
unique                          15
top       Disponibilité intérieure
freq                          3731
Name: Élément, dtype: object


code_produit :
0 Nan
0 zéros
23 valeurs uniques :
[2731 2732 2734 2735 2736 2740 2743 2737 2744 2848 2761 2733 2781 2782
 2762 2763 2764 2765 2766 2767 2769 2775 2768]
count   37,166.00
mean     2,758.42
std         27.45
min      2,731.00
25%      2,736.00
50%      2,762.00
75%      2,767.00
max      2,848.00
Name: code_produit, dtype: float64


produit :
0 Nan
0 zéros
23 valeurs uniques :
['Viande de Bovins' "Viande d'Ovins/Caprins" 'Viande de Volailles'
 'Viande, Autre' 'Abats Comestible' 'Beurre, Ghee' 'Crème'
 'Graisses Animales Crue' 'Oeufs' 'Lait - Excl Beurre'
 'Poissons Eau Douce' 'Viande de Suides' 'Huiles de Poissons'
 'Huiles de Foie de Poisso' 'Perciform' 'Poissons Pelagiques'
 'Poissons Marins, Autres' 'Crustacés' 'Cephalopodes' 'Mollusques, Autres'
 'Animaux Aquatiques Autre' 'Plantes Aquatiques' 'Viande de Anim Aquatiq']
count                  37166
unique                    23
top       Lait - Excl Beurre
freq                    2128
Name: produit, dtype: object


Code année :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count   37,166.00
mean     2,013.00
std          0.00
min      2,013.00
25%      2,013.00
50%      2,013.00
75%      2,013.00
max      2,013.00
Name: Code année, dtype: float64


annee :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count   37,166.00
mean     2,013.00
std          0.00
min      2,013.00
25%      2,013.00
50%      2,013.00
75%      2,013.00
max      2,013.00
Name: annee, dtype: float64


Unité :
0 Nan
0 zéros
4 valeurs uniques :
['Milliers de tonnes' 'kg' 'Kcal/personne/jour' 'g/personne/jour']
count                  37166
unique                     4
top       Milliers de tonnes
freq                   22296
Name: Unité, dtype: object


Valeur :
0 Nan
13687 zéros
3074 valeurs uniques :
[134.     6.   140.   ...   9.71 451.    31.9 ]
count    37,166.00
mean        148.29
std       1,933.73
min      -1,368.00
25%           0.00
50%           1.00
75%          11.00
max     135,600.00
Name: Valeur, dtype: float64


Symbole :
0 Nan
0 zéros
3 valeurs uniques :
['S' 'Fc' 'A']
count     37166
unique        3
top           S
freq      22126
Name: Symbole, dtype: object


Description du Symbole :
0 Nan
0 zéros
3 valeurs uniques :
['Données standardisées' 'Donnée calculée'
 'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées']
count                     37166
unique                        3
top       Données standardisées
freq                      22126
Name: Description du Symbole, dtype: object

In [18]:
exploration(vegetaux)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104871 entries, 0 to 104870
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            104871 non-null  object
 1   Domaine                 104871 non-null  object
 2   code_pays               104871 non-null  int64
 3   pays                    104871 non-null  object
 4   Code Élément            104871 non-null  int64
 5   Élément                 104871 non-null  object
 6   code_produit            104871 non-null  int64
 7   produit                 104871 non-null  object
 8   Code année              104871 non-null  int64
 9   annee                   104871 non-null  int64
 10  Unité                   104871 non-null  object
 11  Valeur                  104871 non-null  float64
 12  Symbole                 104871 non-null  object
 13  Description du Symbole  104871 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 11.2+ MB
None


Code Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['FBSH']
count     104871
unique         1
top         FBSH
freq      104871
Name: Code Domaine, dtype: object


Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['Bilans Alimentaire (Ancienne méthodologie et population)']
count                                                104871
unique                                                    1
top       Bilans Alimentaire (Ancienne méthodologie et p...
freq                                                 104871
Name: Domaine, dtype: object


code_pays :
0 Nan
0 zéros
175 valeurs uniques :
[  2 202   3   4  79   7   8 194   9   1  10  11  52  12  16  14  57 255
  23  53  17  19  80  20  21  26  27 233  35 115  32  33  40 351  96 128
  41 214  50  44  46  48 107  98  49  54  72  55  59  60 225  58 203  63
 209 231 238 185  66  67  68  74  75  73  81  84  86  89  90 175  91  93
  95  97  25 100 101 102 103 104  99 105 106 109 110 112 108 114 113  83
 118 122 119 121 123 126 256 154 129 131 130 132 133 134 143 137 136 138
 141 273 144  28 147 149 157 158 159 162 153 156 221 226 235 165 166 169
 150 170 171 173  70 174  37 117 146 120  56 116 215 183 229 184 189 188
 191 244 193 195 272 197 199 198 276  38 210 211 207 208  39 167 216 176
 217 220 222 213 223 230 234 155 236 237 249 251 181]
count   104,871.00
mean        127.69
std          75.42
min           1.00
25%          66.00
50%         121.00
75%         189.00
max         351.00
Name: code_pays, dtype: float64


pays :
0 Nan
0 zéros
175 valeurs uniques :
['Afghanistan' 'Afrique du Sud' 'Albanie' 'Algérie' 'Allemagne' 'Angola'
 'Antigua-et-Barbuda' 'Arabie saoudite' 'Argentine' 'Arménie' 'Australie'
 'Autriche' 'Azerbaïdjan' 'Bahamas' 'Bangladesh' 'Barbade' 'Bélarus'
 'Belgique' 'Belize' 'Bénin' 'Bermudes' 'Bolivie (État plurinational de)'
 'Bosnie-Herzégovine' 'Botswana' 'Brésil' 'Brunéi Darussalam' 'Bulgarie'
 'Burkina Faso' 'Cabo Verde' 'Cambodge' 'Cameroun' 'Canada' 'Chili'
 'Chine' 'Chine - RAS de Hong-Kong' 'Chine - RAS de Macao'
 'Chine, continentale' 'Chine, Taiwan Province de' 'Chypre' 'Colombie'
 'Congo' 'Costa Rica' "Côte d'Ivoire" 'Croatie' 'Cuba' 'Danemark'
 'Djibouti' 'Dominique' 'Égypte' 'El Salvador' 'Émirats arabes unis'
 'Équateur' 'Espagne' 'Estonie' 'Eswatini' "États-Unis d'Amérique"
 'Éthiopie' 'Fédération de Russie' 'Fidji' 'Finlande' 'France' 'Gabon'
 'Gambie' 'Géorgie' 'Ghana' 'Grèce' 'Grenade' 'Guatemala' 'Guinée'
 'Guinée-Bissau' 'Guyana' 'Haïti' 'Honduras' 'Hongrie' 'Îles Salomon'
 'Inde' 'Indonésie' "Iran (République islamique d')" 'Iraq' 'Irlande'
 'Islande' 'Israël' 'Italie' 'Jamaïque' 'Japon' 'Jordanie' 'Kazakhstan'
 'Kenya' 'Kirghizistan' 'Kiribati' 'Koweït' 'Lesotho' 'Lettonie' 'Liban'
 'Libéria' 'Lituanie' 'Luxembourg' 'Macédoine du Nord' 'Madagascar'
 'Malaisie' 'Malawi' 'Maldives' 'Mali' 'Malte' 'Maroc' 'Maurice'
 'Mauritanie' 'Mexique' 'Mongolie' 'Monténégro' 'Mozambique' 'Myanmar'
 'Namibie' 'Népal' 'Nicaragua' 'Niger' 'Nigéria' 'Norvège'
 'Nouvelle-Calédonie' 'Nouvelle-Zélande' 'Oman' 'Ouganda' 'Ouzbékistan'
 'Pakistan' 'Panama' 'Paraguay' 'Pays-Bas' 'Pérou' 'Philippines' 'Pologne'
 'Polynésie française' 'Portugal' 'République centrafricaine'
 'République de Corée' 'République de Moldova'
 'République démocratique populaire lao' 'République dominicaine'
 'République populaire démocratique de Corée'
 'République-Unie de Tanzanie' 'Roumanie' 'Royaume-Uni' 'Rwanda'
 'Sainte-Lucie' 'Saint-Kitts-et-Nevis' 'Saint-Vincent-et-les Grenadines'
 'Samoa' 'Sao Tomé-et-Principe' 'Sénégal' 'Serbie' 'Sierra Leone'
 'Slovaquie' 'Slovénie' 'Soudan' 'Sri Lanka' 'Suède' 'Suisse' 'Suriname'
 'Tadjikistan' 'Tchad' 'Tchéquie (la)' 'Thaïlande' 'Timor-Leste' 'Togo'
 'Trinité-et-Tobago' 'Tunisie' 'Turkménistan' 'Turquie' 'Ukraine'
 'Uruguay' 'Vanuatu' 'Venezuela (République bolivarienne du)' 'Viet Nam'
 'Yémen' 'Zambie' 'Zimbabwe']
count     104871
unique       175
top        Chine
freq         860
Name: pays, dtype: object


Code Élément :
0 Nan
0 zéros
15 valeurs uniques :
[5511 5611 5072 5301 5527 5123 5142  645  664  674  684 5521 5911 5131
 5154]
count   104,871.00
mean      3,728.25
std       2,276.47
min         645.00
25%         674.00
50%       5,142.00
75%       5,511.00
max       5,911.00
Name: Code Élément, dtype: float64


Élément :
0 Nan
0 zéros
15 valeurs uniques :
['Production' 'Importations - Quantité' 'Variation de stock'
 'Disponibilité intérieure' 'Semences' 'Pertes' 'Nourriture'
 'Disponibilité alimentaire en quantité (kg/personne/an)'
 'Disponibilité alimentaire (Kcal/personne/jour)'
 'Disponibilité de protéines en quantité (g/personne/jour)'
 'Disponibilité de matière grasse en quantité (g/personne/jour)'
 'Aliments pour animaux' 'Exportations - Quantité' 'Traitement'
 'Autres utilisations (non alimentaire)']
count                       104871
unique                          15
top       Disponibilité intérieure
freq                         11747
Name: Élément, dtype: object


code_produit :
0 Nan
0 zéros
75 valeurs uniques :
[2511 2805 2513 2514 2517 2520 2531 2536 2537 2542 2543 2745 2549 2551
 2557 2559 2560 2561 2563 2570 2571 2572 2573 2574 2575 2577 2579 2580
 2586 2601 2605 2611 2614 2615 2617 2618 2619 2620 2625 2630 2633 2635
 2640 2645 2655 2656 2658 2680 2899 2515 2516 2518 2532 2533 2535 2534
 2546 2547 2555 2556 2558 2562 2576 2578 2582 2602 2612 2613 2616 2641
 2642 2657 2659 2541 2581]
count   104,871.00
mean      2,587.47
std          61.11
min       2,511.00
25%       2,546.00
50%       2,575.00
75%       2,618.00
max       2,899.00
Name: code_produit, dtype: float64


produit :
0 Nan
0 zéros
75 valeurs uniques :
['Blé' 'Riz (Eq Blanchi)' 'Orge' 'Maïs' 'Millet' 'Céréales, Autres'
 'Pommes de Terre' 'Sucre, canne' 'Sucre, betterave' 'Sucre Eq Brut'
 'Edulcorants Autres' 'Miel' 'Légumineuses Autres' 'Noix'
 'Graines de tournesol' 'Graines de coton' 'Coco (Incl Coprah)' 'Sésame'
 'Olives' 'Plantes Oleiferes, Autre' 'Huile de Soja' "Huile d'Arachide"
 'Huile de Tournesol' 'Huile de Colza&Moutarde' 'Huile Graines de Coton'
 'Huile de Palme' 'Huile de Sésame' "Huile d'Olive"
 'Huil Plantes Oleif Autr' 'Tomates' 'Légumes, Autres'
 'Oranges, Mandarines' 'Agrumes, Autres' 'Bananes' 'Pommes' 'Ananas'
 'Dattes' 'Raisin' 'Fruits, Autres' 'Café' 'Feve de Cacao' 'Thé' 'Poivre'
 'Épices, Autres' 'Vin' 'Bière' 'Boissons Alcooliques'
 'Aliments pour enfants' 'Miscellanees' 'Seigle' 'Avoine' 'Sorgho'
 'Manioc' 'Patates douces' 'Ignames' 'Racines nda' 'Haricots' 'Pois'
 'Soja' 'Arachides Decortiquees' 'Graines Colza/Moutarde' 'Palmistes'
 'Huile de Palmistes' 'Huile de Coco' 'Huile de Germe de Maïs' 'Oignons'
 'Citrons & Limes' 'Pamplemousse' 'Bananes plantains' 'Piments' 'Girofles'
 'Boissons Fermentés' 'Alcool, non Comestible' 'Sucre non centrifugé'
 'Huile de Son de Riz']
count     104871
unique        75
top         Maïs
freq        2318
Name: produit, dtype: object


Code année :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count   104,871.00
mean      2,013.00
std           0.00
min       2,013.00
25%       2,013.00
50%       2,013.00
75%       2,013.00
max       2,013.00
Name: Code année, dtype: float64


annee :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count   104,871.00
mean      2,013.00
std           0.00
min       2,013.00
25%       2,013.00
50%       2,013.00
75%       2,013.00
max       2,013.00
Name: annee, dtype: float64


Unité :
0 Nan
0 zéros
4 valeurs uniques :
['Milliers de tonnes' 'kg' 'Kcal/personne/jour' 'g/personne/jour']
count                 104871
unique                     4
top       Milliers de tonnes
freq                   67783
Name: Unité, dtype: object


Valeur :

0 Nan
32006 zéros
6249 valeurs uniques :
[5169.   1173.   -350.   ... 3880.     28.7    20.63]
count   104,871.00
mean        321.27
std       6,395.04
min     -39,863.00
25%           0.00
50%           1.00
75%          17.00
max     739,267.00
Name: Valeur, dtype: float64


Symbole :
0 Nan
0 zéros
3 valeurs uniques :
['S' 'Fc' 'A']
count     104871
unique         3
top            S
freq       67182
Name: Symbole, dtype: object


Description du Symbole :
0 Nan
0 zéros
3 valeurs uniques :
['Données standardisées' 'Donnée calculée'
 'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées']
count                    104871
unique                        3
top       Données standardisées
freq                      67182
Name: Description du Symbole, dtype: object

In [19]:
# Valeurs inférieures à 0 ??? 
print('Animaux : \n', animaux['Valeur'].describe(), '\n')
print(vegetaux['Valeur'].describe())

Animaux :
 count    37,166.00
mean        148.29
std       1,933.73
min      -1,368.00
25%           0.00
50%           1.00
75%          11.00
max     135,600.00
Name: Valeur, dtype: float64

count   104,871.00
mean        321.27
std       6,395.04
min     -39,863.00
25%           0.00
50%           1.00
75%          17.00
max     739,267.00
Name: Valeur, dtype: float64

In [20]:
# Ajout d'une colonne 'Origine' dans animaux et vegetaux
animaux['origine'] = 'Animale'
vegetaux['origine'] = 'Végétale'

# Union de Végétaux et Animaux
aliments = pd.concat([vegetaux, animaux])

# Projection
aliments = aliments[[
    'pays',
    'code_pays',
    'produit',
    'code_produit',
    'origine',
    'Élément',
    'Valeur',
    'annee'
]]

# Table pivot sur aliments
aliments = aliments.pivot_table('Valeur', index=['code_pays','pays','produit','code_produit','annee','origine'], columns='Élément')

# Reset index
aliments.reset_index(inplace=True)

# Renommer les colonnes
aliments.rename(columns={
    'Aliments pour animaux' : 'alim_ani',
    'Autres utilisations (non alimentaire)' : 'autres_utilisations',
    'Semences' : 'semences',
    'Pertes' : 'pertes',
    'Nourriture' : 'nourriture',
    'Traitement' : 'transfo', # ?
    'Disponibilité intérieure' : 'dispo_int',
    'Disponibilité alimentaire (Kcal/personne/jour)' : 'dispo_alim_kcal_p_j',
    'Disponibilité de protéines en quantité (g/personne/jour)' : 'dispo_prot',
    'Disponibilité de matière grasse en quantité (g/personne/jour)' : 'dispo_mat_gr'
}, inplace=True)

# Joindre population et aliments
aliments = pd.merge(aliments, population[['pays', 'population']], on="pays")

# Remplacer les Nan
aliments.replace(np.nan, 0, inplace=True)

# Affichage
print('Résultat : ', aliments.shape[1], 'colonnes, ', aliments.shape[0], 'lignes')
aliments.sample(3)

Résultat :  22 colonnes,  15702 lignes

,code_pays,pays,produit,code_produit,annee,origine,alim_ani,autres_utilisations,dispo_alim_kcal_p_j,Disponibilité alimentaire en quantité (kg/personne/an),...,dispo_int,Exportations - Quantité,Importations - Quantité,nourriture,pertes,Production,semences,transfo,Variation de stock,population
6273,102,Iran (République islamique d'),Maïs,2514,2013,Végétale,"5,369.00",0.00,21.00,2.37,...,"5,866.00",4.00,"4,007.00",184.00,293.00,"1,852.00",20.00,0.00,11.00,77447000
7901,121,Liban,Pois,2547,2013,Végétale,0.00,0.00,7.00,0.79,...,4.00,0.00,1.00,4.00,0.00,4.00,0.00,0.00,0.00,4822000
9273,144,Mozambique,Huile de Coco,2578,2013,Végétale,0.00,0.00,26.00,1.06,...,27.00,2.00,0.00,27.00,0.00,29.00,0.00,0.00,0.00,25834000

In [21]:
exploration(aliments)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15702 entries, 0 to 15701
Data columns (total 22 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   code_pays                                               15702 non-null  int64
 1   pays                                                    15702 non-null  object
 2   produit                                                 15702 non-null  object
 3   code_produit                                            15702 non-null  int64
 4   annee                                                   15702 non-null  int64
 5   origine                                                 15702 non-null  object
 6   alim_ani                                                15702 non-null  float64
 7   autres_utilisations                                     15702 non-null  float64
 8   dispo_alim_kcal_p_j                                     15702 non-null  float64
 9   Disponibilité alimentaire en quantité (kg/personne/an)  15702 non-null  float64
 10  dispo_mat_gr                                            15702 non-null  float64
 11  dispo_prot                                              15702 non-null  float64
 12  dispo_int                                               15702 non-null  float64
 13  Exportations - Quantité                                 15702 non-null  float64
 14  Importations - Quantité                                 15702 non-null  float64
 15  nourriture                                              15702 non-null  float64
 16  pertes                                                  15702 non-null  float64
 17  Production                                              15702 non-null  float64
 18  semences                                                15702 non-null  float64
 19  transfo                                                 15702 non-null  float64
 20  Variation de stock                                      15702 non-null  float64
 21  population                                              15702 non-null  int64
dtypes: float64(15), int64(4), object(3)
memory usage: 2.8+ MB
None


code_pays :
0 Nan
0 zéros
175 valeurs uniques :
[  1   2   3   4   7   8   9  10  11  12  14  16  17  19  20  21  23  25
  26  27  28  32  33  35  37  38  39  40  41  44  46  48  49  50  52  53
  54  55  56  57  58  59  60  63  66  67  68  70  72  73  74  75  79  80
  81  83  84  86  89  90  91  93  95  96  97  98  99 100 101 102 103 104
 105 106 107 108 109 110 112 113 114 115 116 117 118 119 120 121 122 123
 126 128 129 130 131 132 133 134 136 137 138 141 143 144 146 147 149 150
 153 154 155 156 157 158 159 162 165 166 167 169 170 171 173 174 175 176
 181 183 184 185 188 189 191 193 194 195 197 198 199 202 203 207 208 209
 210 211 213 214 215 216 217 220 221 222 223 225 226 229 230 231 233 234
 235 236 237 238 244 249 251 255 256 272 273 276 351]
count   15,702.00
mean       126.73
std         75.04
min          1.00
25%         63.00
50%        121.00
75%        189.00
max        351.00
Name: code_pays, dtype: float64


pays :
0 Nan
0 zéros
175 valeurs uniques :
['Arménie' 'Afghanistan' 'Albanie' 'Algérie' 'Angola' 'Antigua-et-Barbuda'
 'Argentine' 'Australie' 'Autriche' 'Bahamas' 'Barbade' 'Bangladesh'
 'Bermudes' 'Bolivie (État plurinational de)' 'Botswana' 'Brésil' 'Belize'
 'Îles Salomon' 'Brunéi Darussalam' 'Bulgarie' 'Myanmar' 'Cameroun'
 'Canada' 'Cabo Verde' 'République centrafricaine' 'Sri Lanka' 'Tchad'
 'Chili' 'Chine, continentale' 'Colombie' 'Congo' 'Costa Rica' 'Cuba'
 'Chypre' 'Azerbaïdjan' 'Bénin' 'Danemark' 'Dominique'
 'République dominicaine' 'Bélarus' 'Équateur' 'Égypte' 'El Salvador'
 'Estonie' 'Fidji' 'Finlande' 'France' 'Polynésie française' 'Djibouti'
 'Géorgie' 'Gabon' 'Gambie' 'Allemagne' 'Bosnie-Herzégovine' 'Ghana'
 'Kiribati' 'Grèce' 'Grenade' 'Guatemala' 'Guinée' 'Guyana' 'Haïti'
 'Honduras' 'Chine - RAS de Hong-Kong' 'Hongrie' 'Croatie' 'Islande'
 'Inde' 'Indonésie' "Iran (République islamique d')" 'Iraq' 'Irlande'
 'Israël' 'Italie' "Côte d'Ivoire" 'Kazakhstan' 'Jamaïque' 'Japon'
 'Jordanie' 'Kirghizistan' 'Kenya' 'Cambodge'
 'République populaire démocratique de Corée' 'République de Corée'
 'Koweït' 'Lettonie' 'République démocratique populaire lao' 'Liban'
 'Lesotho' 'Libéria' 'Lituanie' 'Chine - RAS de Macao' 'Madagascar'
 'Malawi' 'Malaisie' 'Maldives' 'Mali' 'Malte' 'Mauritanie' 'Maurice'
 'Mexique' 'Mongolie' 'Maroc' 'Mozambique' 'République de Moldova'
 'Namibie' 'Népal' 'Pays-Bas' 'Nouvelle-Calédonie' 'Macédoine du Nord'
 'Vanuatu' 'Nouvelle-Zélande' 'Nicaragua' 'Niger' 'Nigéria' 'Norvège'
 'Pakistan' 'Panama' 'Tchéquie (la)' 'Paraguay' 'Pérou' 'Philippines'
 'Pologne' 'Portugal' 'Guinée-Bissau' 'Timor-Leste' 'Zimbabwe' 'Roumanie'
 'Rwanda' 'Fédération de Russie' 'Saint-Kitts-et-Nevis' 'Sainte-Lucie'
 'Saint-Vincent-et-les Grenadines' 'Sao Tomé-et-Principe'
 'Arabie saoudite' 'Sénégal' 'Sierra Leone' 'Slovénie' 'Slovaquie'
 'Afrique du Sud' 'Espagne' 'Suriname' 'Tadjikistan' 'Eswatini' 'Suède'
 'Suisse' 'Turkménistan' 'Chine, Taiwan Province de'
 'République-Unie de Tanzanie' 'Thaïlande' 'Togo' 'Trinité-et-Tobago'
 'Oman' 'Tunisie' 'Turquie' 'Émirats arabes unis' 'Ouganda' 'Royaume-Uni'
 'Ukraine' "États-Unis d'Amérique" 'Burkina Faso' 'Uruguay' 'Ouzbékistan'
 'Venezuela (République bolivarienne du)' 'Viet Nam' 'Éthiopie' 'Samoa'
 'Yémen' 'Zambie' 'Belgique' 'Luxembourg' 'Serbie' 'Monténégro' 'Soudan'
 'Chine']
count     15702
unique      175
top       Japon
freq         97
Name: pays, dtype: object


produit :
0 Nan
0 zéros
98 valeurs uniques :
['Abats Comestible' 'Agrumes, Autres' 'Alcool, non Comestible'
 'Aliments pour enfants' 'Ananas' 'Animaux Aquatiques Autre'
 'Arachides Decortiquees' 'Avoine' 'Bananes' 'Bananes plantains'
 'Beurre, Ghee' 'Bière' 'Blé' 'Boissons Alcooliques' 'Boissons Fermentés'
 'Café' 'Cephalopodes' 'Citrons & Limes' 'Coco (Incl Coprah)' 'Crustacés'
 'Crème' 'Céréales, Autres' 'Dattes' 'Edulcorants Autres' 'Feve de Cacao'
 'Fruits, Autres' 'Girofles' 'Graines Colza/Moutarde'
 'Graines de tournesol' 'Graisses Animales Crue' 'Haricots'
 'Huil Plantes Oleif Autr' 'Huile Graines de Coton' "Huile d'Arachide"
 "Huile d'Olive" 'Huile de Coco' 'Huile de Colza&Moutarde'
 'Huile de Germe de Maïs' 'Huile de Palme' 'Huile de Palmistes'
 'Huile de Soja' 'Huile de Sésame' 'Huile de Tournesol'
 'Huiles de Foie de Poisso' 'Huiles de Poissons' 'Lait - Excl Beurre'
 'Légumes, Autres' 'Légumineuses Autres' 'Manioc' 'Maïs' 'Miel' 'Millet'
 'Miscellanees' 'Mollusques, Autres' 'Noix' 'Oeufs' 'Oignons' 'Olives'
 'Oranges, Mandarines' 'Orge' 'Pamplemousse' 'Perciform' 'Piments'
 'Plantes Aquatiques' 'Plantes Oleiferes, Autre' 'Pois'
 'Poissons Eau Douce' 'Poissons Marins, Autres' 'Poissons Pelagiques'
 'Poivre' 'Pommes' 'Pommes de Terre' 'Racines nda' 'Raisin'
 'Riz (Eq Blanchi)' 'Seigle' 'Soja' 'Sorgho' 'Sucre Eq Brut'
 'Sucre, betterave' 'Sésame' 'Thé' 'Tomates' "Viande d'Ovins/Caprins"
 'Viande de Bovins' 'Viande de Suides' 'Viande de Volailles'
 'Viande, Autre' 'Vin' 'Épices, Autres' 'Graines de coton' 'Sucre, canne'
 'Palmistes' 'Patates douces' 'Ignames' 'Huile de Son de Riz'
 'Sucre non centrifugé' 'Viande de Anim Aquatiq']
count     15702
unique       98
top        Café
freq        175
Name: produit, dtype: object


code_produit :
0 Nan
0 zéros
98 valeurs uniques :
[2736 2614 2659 2680 2618 2769 2556 2516 2615 2616 2740 2656 2511 2658
 2657 2630 2766 2612 2560 2765 2743 2520 2619 2543 2633 2625 2642 2558
 2557 2737 2546 2586 2575 2572 2580 2578 2574 2582 2577 2576 2571 2579
 2573 2782 2781 2848 2605 2549 2532 2514 2745 2517 2899 2767 2551 2744
 2602 2563 2611 2513 2613 2762 2641 2775 2570 2547 2761 2764 2763 2640
 2617 2531 2534 2620 2805 2515 2555 2518 2542 2537 2561 2635 2601 2732
 2731 2733 2734 2735 2655 2645 2559 2536 2562 2533 2535 2581 2541 2768]
count   15,702.00
mean     2,631.36
std         91.75
min      2,511.00
25%      2,558.00
50%      2,613.00
75%      2,732.00
max      2,899.00
Name: code_produit, dtype: float64


annee :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count   15,702.00
mean     2,013.00
std          0.00
min      2,013.00
25%      2,013.00
50%      2,013.00
75%      2,013.00
max      2,013.00
Name: annee, dtype: float64


origine :
0 Nan
0 zéros
2 valeurs uniques :
['Animale' 'Végétale']
count        15702
unique           2
top       Végétale
freq         11971
Name: origine, dtype: object


alim_ani :
0 Nan
13881 zéros
550 valeurs uniques :
[0.00000e+00 4.00000e+00 9.30000e+01 1.00000e+00 5.00000e+00 4.80000e+01
 1.30000e+01 3.00000e+00 9.60000e+01 1.37000e+02 2.00000e+00 8.00000e+00
 1.90000e+01 2.25000e+02 1.23000e+02 2.00000e+02 3.60000e+02 8.10000e+01
 2.50000e+01 1.80000e+01 1.01000e+02 7.00000e+01 3.61000e+02 7.00000e+00
 7.50000e+01 1.07000e+02 5.45000e+02 1.40000e+01 2.40000e+03 1.28000e+03
 8.88000e+03 2.70000e+02 3.80000e+01 4.60000e+01 2.50000e+02 2.10000e+01
 2.73000e+02 9.00000e+01 4.92300e+03 3.40000e+01 9.86000e+02 1.28800e+03
 5.95000e+02 3.20000e+03 1.71000e+02 6.00000e+00 4.49000e+02 4.94000e+02
 3.70000e+01 2.35000e+03 9.70000e+01 1.73000e+02 6.50000e+01 1.38300e+03
 9.00000e+00 4.67000e+02 5.32000e+02 2.80000e+01 3.05000e+02 2.40000e+01
 1.15700e+03 5.61000e+02 1.19000e+02 8.00000e+01 1.00000e+01 2.70000e+01
 1.70000e+03 1.10000e+01 4.40000e+01 1.03100e+03 1.20000e+01 2.00000e+01
 4.00000e+01 2.75000e+02 5.00000e+01 7.89000e+02 1.60000e+01 6.00000e+02
 2.90000e+01 8.60000e+01 1.89800e+03 1.06840e+04 4.04870e+04 1.10000e+02
 1.92000e+02 7.20000e+01 6.37000e+02 2.03300e+03 6.90000e+03 4.50000e+01
 2.60000e+01 2.67000e+02 1.00000e+02 2.51000e+02 7.90000e+01 1.05000e+02
 1.26000e+02 1.90000e+03 4.96000e+02 1.02000e+03 1.48000e+02 6.20000e+01
 7.88200e+03 1.18000e+02 9.50000e+02 4.95000e+02 3.20000e+01 3.96000e+02
 2.10800e+03 3.73100e+03 7.39000e+02 3.50000e+01 5.48000e+02 1.07230e+04
 7.31300e+03 1.40000e+02 2.29000e+02 7.60000e+01 5.60000e+01 2.20000e+01
 3.50000e+02 1.45000e+02 1.27000e+02 6.05000e+02 1.92000e+03 5.90000e+01
 4.41000e+02 8.20000e+01 2.68000e+02 5.00000e+02 2.66280e+04 6.59000e+02
 3.71500e+03 1.55500e+03 1.24000e+03 1.60800e+03 3.55820e+04 7.91000e+02
 2.28680e+04 1.50000e+05 8.00000e+02 2.30000e+01 3.32700e+04 1.89000e+02
 1.60000e+03 8.63400e+03 2.21650e+04 9.80000e+01 1.20520e+04 4.80000e+02
 9.53000e+03 2.80000e+03 7.18300e+03 3.33000e+02 4.70000e+01 7.83000e+02
 6.00000e+01 3.77000e+03 8.30000e+01 2.13000e+02 5.25000e+02 1.08000e+02
 1.86000e+02 6.06000e+02 1.12000e+02 1.80000e+02 7.97000e+02 3.04000e+02
 1.80000e+03 1.60000e+02 3.60000e+01 5.91000e+02 3.10000e+01 5.12000e+02
 1.63000e+02 6.82000e+02 3.18000e+02 1.21000e+03 4.60000e+02 2.52000e+02
 3.28800e+03 1.14000e+02 1.42000e+02 4.30000e+01 8.27000e+02 2.50500e+03
 3.90000e+02 9.40000e+02 2.05000e+02 1.33900e+03 1.16500e+03 5.70000e+01
 2.02000e+02 1.54200e+03 8.70000e+01 1.12900e+03 1.25000e+03 3.90000e+01
 8.50000e+01 2.55400e+03 3.00000e+01 1.24000e+02 1.70000e+01 8.30000e+02
 4.10000e+01 1.20000e+02 4.86000e+03 8.92000e+02 7.03200e+03 9.40000e+01
 1.15000e+02 1.26200e+03 4.20000e+01 1.04000e+02 1.88000e+02 5.20000e+02
 3.45000e+02 1.11700e+03 3.76000e+02 7.82200e+03 2.42100e+03 2.19000e+02
 2.30000e+03 7.30000e+01 1.02000e+02 5.20000e+03 2.86500e+03 5.20000e+01
 2.11000e+02 3.99000e+02 9.90000e+01 2.08000e+02 6.70000e+01 1.50000e+01
 5.10000e+01 1.74000e+02 4.90000e+01 7.10000e+01 6.52000e+02 7.49400e+03
 2.37300e+03 1.46000e+02 7.00000e+02 2.06400e+03 9.50000e+01 6.13600e+03
 6.59800e+03 1.56000e+02 3.31800e+03 2.86000e+02 5.50000e+01 4.02000e+03
 7.95000e+02 9.10000e+01 5.50000e+02 1.11000e+02 3.73000e+02 2.23300e+03
 3.85000e+02 3.29000e+02 1.50000e+02 2.33000e+02 4.19000e+02 1.55000e+02
 1.78000e+02 7.70000e+01 1.09000e+02 1.15800e+03 1.32000e+02 2.09900e+03
 4.75000e+02 5.30000e+01 1.60200e+03 1.87000e+03 5.58800e+03 2.26000e+02
 2.27570e+04 1.63100e+03 6.99000e+03 2.18000e+02 1.58000e+02 9.20000e+01
 2.72000e+02 2.12400e+03 3.12000e+02 6.82400e+03 6.00000e+03 4.00000e+02
 4.32000e+02 1.83200e+03 1.91500e+03 5.36900e+03 3.24900e+03 5.34000e+02
 1.40000e+03 6.72000e+02 1.38000e+02 6.66000e+02 7.31000e+02 1.38000e+03
 6.30000e+02 8.80000e+01 1.30000e+03 3.00000e+02 2.30000e+02 1.68000e+03
 5.24000e+02 5.52000e+02 1.06000e+04 1.39900e+03 2.22000e+02 1.51000e+02
 4.44000e+02 1.33000e+02 2.01000e+02 3.09000e+02 7.22000e+02 1.34800e+03
 4.70000e+02 1.27000e+03 1.41000e+02 3.83000e+02 1.15600e+03 1.09640e+04
 1.07500e+03 1.52000e+02 1.47600e+03 1.79800e+03 4.97000e+02 7.18000e+02
 2.24000e+02 4.18000e+02 4.22000e+02 4.27000e+02 3.25000e+02 1.93000e+02
 1.39300e+03 6.28100e+03 7.80000e+01 1.21000e+02 1.76000e+02 6.90000e+01
 1.30000e+02 1.25000e+02 2.28000e+02 1.53000e+02 2.46000e+02 4.83000e+02
 2.23000e+02 3.74000e+02 1.13000e+02 1.96000e+02 3.39000e+02 2.88000e+03
 5.10000e+02 4.50000e+02 3.17100e+03 2.14000e+02 3.01000e+02 1.62000e+02
 1.98000e+02 1.26150e+04 9.59000e+02 7.32900e+03 2.00000e+03 5.75000e+02
 1.00000e+03 1.35000e+03 3.58000e+02 1.03000e+02 8.68000e+02 2.61000e+02
 6.62000e+02 4.57000e+02 2.90000e+03 5.99000e+02 5.80000e+01 2.92000e+03
 1.43000e+03 6.80000e+01 3.20000e+02 6.79000e+02 1.28000e+02 6.30000e+01
 3.32000e+02 4.05000e+03 2.62880e+04 3.12000e+03 6.10000e+01 6.71000e+02
 1.57000e+02 1.39000e+02 1.25100e+03 4.85000e+02 1.00800e+03 1.91200e+03
 2.03000e+02 9.10000e+02 3.30000e+01 1.85000e+02 4.20000e+02 1.37600e+03
 1.56800e+03 2.86400e+03 3.46000e+02 4.79500e+03 4.02000e+02 2.60000e+03
 6.23800e+03 2.22800e+03 2.85000e+02 2.99800e+03 2.32000e+03 1.50500e+03
 3.94000e+02 2.31900e+03 1.95000e+02 2.93000e+02 5.21000e+02 2.40000e+02
 1.87000e+02 6.57000e+03 2.16000e+02 3.29800e+03 8.14200e+03 1.30400e+03
 6.76000e+02 8.79000e+02 1.06630e+04 2.75600e+03 7.75900e+03 8.41700e+03
 2.31000e+02 4.51000e+02 5.65500e+03 1.54800e+03 4.93800e+03 1.53500e+03
 1.00000e+04 8.40000e+01 8.80000e+02 3.41000e+02 2.15000e+02 5.41000e+02
 4.71500e+03 2.17000e+02 8.40000e+02 5.80000e+03 4.90000e+02 2.06100e+03
 9.12000e+03 8.00000e+03 4.48000e+02 7.74000e+02 1.31000e+02 3.87000e+02
 4.15000e+02 7.40000e+01 7.42000e+02 7.50000e+02 3.02000e+02 5.40000e+01
 1.22000e+03 1.75000e+02 2.60000e+02 8.16000e+02 2.34000e+02 2.06000e+02
 8.02000e+02 6.60000e+01 3.80000e+03 9.38000e+02 6.40000e+02 1.13000e+03
 3.72400e+03 3.49000e+02 2.40500e+03 1.36000e+02 9.70000e+02 1.16000e+02
 2.40100e+03 1.96800e+03 2.44000e+02 4.10000e+03 6.21300e+03 4.54000e+02
 1.77000e+03 4.52000e+02 4.72000e+02 3.06000e+02 6.63200e+03 1.37400e+03
 1.43000e+02 3.33600e+03 4.16900e+03 1.72000e+02 3.14900e+03 2.06800e+03
 1.13930e+04 3.63800e+03 7.37700e+03 1.66000e+02 3.74900e+03 6.19600e+03
 3.23000e+02 4.81000e+02 1.65000e+02 2.88000e+02 1.28024e+05 1.44000e+03
 3.55000e+02 1.84000e+02 2.24000e+03 2.35100e+03 2.39000e+02 2.10000e+02
 1.67000e+02 3.44000e+02 3.27400e+03 2.35000e+02 4.12500e+03 1.24900e+03
 5.23000e+02 2.04200e+03 6.98000e+02 5.50000e+03 7.09000e+02 2.71200e+03
 6.67000e+02 1.83000e+02 8.90000e+01 8.85000e+02 9.80000e+02 9.17000e+02
 6.40000e+01 2.69000e+02 4.30900e+03 2.66940e+04 6.61000e+02 1.55700e+03
 1.63200e+03 7.93000e+02 2.28730e+04 1.53802e+05 3.33680e+04 2.12000e+02
 9.57500e+03 2.21960e+04 1.21170e+04 1.99800e+03]
count    15,702.00
mean        105.44
std       2,221.93
min           0.00
25%           0.00
50%           0.00
75%           0.00
max     153,802.00
Name: alim_ani, dtype: float64


autres_utilisations :
0 Nan
13452 zéros
422 valeurs uniques :
[3.00000e+00 0.00000e+00 1.20000e+01 2.00000e+00 1.00000e+00 2.60000e+01
 1.60000e+01 1.75000e+02 3.59000e+02 5.50000e+01 4.00000e+00 1.30000e+02
 1.30000e+01 5.00000e+00 8.20000e+02 5.20000e+01 6.03000e+02 1.90000e+02
 3.20000e+01 1.95000e+02 1.50000e+01 1.54000e+02 8.00000e+01 1.34000e+02
 3.77000e+02 1.90000e+01 2.40000e+01 2.00000e+01 7.00000e+00 2.00100e+03
 7.40000e+01 1.80000e+01 1.26600e+03 1.40000e+01 1.10000e+01 9.20000e+02
 9.00000e+00 6.00000e+01 7.90000e+01 6.50000e+01 8.00000e+00 4.52000e+02
 8.70000e+01 1.13000e+02 9.87000e+02 1.32000e+02 5.80000e+01 2.56000e+02
 5.00000e+01 2.90000e+01 1.47000e+02 6.60000e+01 6.30000e+01 1.60000e+02
 6.10000e+01 1.00000e+01 5.00000e+02 7.28000e+02 1.24000e+02 5.43000e+02
 6.00000e+00 2.10000e+01 1.39000e+02 2.96000e+02 9.55900e+03 4.16000e+02
 8.00000e+02 1.15000e+02 4.00000e+01 2.97000e+02 2.99000e+03 1.00000e+02
 1.19600e+03 4.13000e+03 3.47309e+05 1.41000e+02 2.01000e+02 2.30000e+01
 3.42000e+02 2.50000e+01 1.04000e+03 1.69000e+02 2.20000e+01 5.92000e+02
 2.70000e+02 7.50000e+01 3.20000e+02 5.41000e+02 1.10000e+02 7.57000e+02
 6.00000e+02 9.50000e+01 2.95000e+02 1.50000e+02 1.06100e+03 6.64000e+02
 2.29000e+02 5.30000e+01 1.03000e+02 8.20000e+01 4.80000e+01 1.79500e+03
 2.49000e+02 4.10000e+01 3.70000e+01 3.00000e+02 1.29000e+02 9.80000e+01
 2.80000e+01 1.85000e+02 1.33000e+02 1.78000e+02 1.70000e+01 2.39000e+02
 3.60000e+01 4.54000e+02 2.92900e+03 2.50000e+03 9.10000e+01 1.55100e+03
 9.15000e+02 1.11500e+03 5.11700e+03 4.30400e+03 5.44000e+02 9.20000e+03
 5.50000e+02 7.94000e+03 3.51720e+04 4.89000e+02 9.08000e+02 2.00000e+03
 2.21000e+02 2.07200e+03 1.11000e+02 5.18000e+02 3.50000e+01 2.50000e+02
 2.94600e+03 3.80000e+01 1.04000e+02 3.00000e+01 2.64000e+02 5.10000e+01
 6.80000e+01 7.60000e+01 8.50000e+02 1.26000e+02 1.53000e+02 1.18000e+02
 4.60000e+01 1.51000e+02 3.40000e+01 6.33000e+02 2.72000e+02 7.77000e+02
 7.06000e+02 2.32000e+02 2.82000e+02 3.90000e+01 1.48000e+02 5.97000e+02
 8.10000e+01 4.90000e+01 8.50000e+01 9.60000e+01 2.65000e+02 5.60000e+01
 2.82400e+03 5.14000e+02 1.46100e+03 4.40000e+01 1.68300e+03 5.60000e+02
 2.66000e+02 5.82000e+02 7.00000e+01 8.30000e+01 2.73000e+02 5.63300e+03
 9.70000e+01 1.14000e+02 3.30000e+01 2.70000e+01 1.01000e+03 7.74000e+02
 2.28000e+02 9.20000e+01 3.57000e+02 1.72000e+02 1.01200e+03 1.39900e+03
 3.60000e+02 5.04000e+02 1.13800e+03 4.40000e+02 2.80000e+02 1.59000e+02
 1.45000e+02 1.80000e+03 1.56600e+03 1.16000e+02 1.63000e+02 7.10000e+01
 1.27000e+02 5.90000e+01 4.20000e+01 1.56000e+02 3.05000e+02 1.52000e+02
 2.31000e+02 2.44000e+02 7.70000e+01 1.17000e+02 2.78400e+03 8.18000e+02
 6.78200e+03 3.09000e+02 1.80000e+02 4.50000e+01 4.09000e+02 2.90000e+03
 1.55000e+02 4.20000e+03 3.10000e+01 8.40000e+01 1.58000e+02 2.51400e+03
 7.40000e+02 5.40000e+01 8.89400e+03 4.46100e+03 5.01600e+03 7.33800e+03
 4.35000e+02 1.02100e+03 4.00000e+02 1.96000e+02 6.97000e+02 6.40000e+01
 2.04000e+02 4.70000e+01 2.61000e+02 3.22000e+02 6.20000e+01 9.40000e+01
 1.21700e+03 9.00000e+01 3.01000e+02 3.86000e+02 2.48000e+02 4.86000e+02
 3.41000e+02 5.81000e+02 1.99000e+02 5.89000e+02 3.23000e+02 4.47000e+02
 2.88000e+02 3.31000e+02 6.56200e+03 2.34500e+03 4.44000e+02 2.16000e+02
 4.72000e+02 2.22000e+02 1.23000e+02 4.60000e+02 2.19000e+02 8.80000e+01
 1.86000e+02 2.25600e+03 1.27000e+03 3.93000e+02 1.40000e+03 8.36000e+02
 2.71000e+02 2.58000e+02 1.12000e+02 6.89000e+02 2.57000e+02 1.67500e+03
 4.07000e+02 4.97000e+02 9.30000e+01 4.31000e+02 1.84000e+02 5.08000e+02
 1.79000e+02 3.30000e+02 8.15000e+02 3.50000e+02 2.00000e+02 2.10000e+03
 1.98000e+02 1.05000e+02 6.56000e+02 7.80000e+01 2.99000e+02 1.57000e+02
 3.87000e+02 1.05200e+03 2.42000e+02 4.41000e+02 2.77000e+02 3.81000e+02
 1.10200e+03 1.25000e+02 9.39000e+02 1.41750e+04 1.17000e+03 1.37000e+02
 3.12000e+02 1.23800e+03 6.13000e+02 3.27000e+02 6.92000e+02 6.90000e+01
 5.03000e+02 1.07000e+02 6.45000e+02 5.71300e+03 8.61000e+02 1.82000e+03
 7.30000e+01 6.50000e+02 2.17000e+02 1.06000e+02 1.20000e+02 6.62000e+02
 6.70000e+01 5.23000e+02 7.49000e+02 1.73000e+02 9.74000e+02 8.60000e+01
 2.67000e+02 2.52000e+02 4.30000e+01 3.99000e+02 5.70000e+01 7.20000e+01
 4.32000e+02 7.99000e+02 1.08500e+03 4.20000e+02 1.02000e+02 1.01000e+02
 2.07000e+02 4.76000e+02 1.31700e+03 2.11000e+02 2.10000e+02 3.58000e+02
 1.23900e+03 1.28000e+02 2.08100e+03 1.94000e+02 1.21000e+02 1.08000e+02
 1.32000e+03 4.50000e+02 7.45000e+02 2.38000e+02 1.24800e+03 8.01000e+02

count   15,702.00
mean        94.05
std        918.75
min       -201.00
25%          0.00
50%          1.00
75%         16.00
max     65,564.00
Name: Importations - Quantité, dtype: float64


nourriture :
0 Nan
5616 zéros
1440 valeurs uniques :
[1.4000e+01 1.0000e+00 0.0000e+00 ... 5.4689e+04 1.9449e+04 2.1290e+03]
count    15,702.00
mean        391.49
std       5,677.91
min        -246.00
25%           0.00
50%           3.00
75%          41.00
max     430,046.00
Name: nourriture, dtype: float64


pertes :
0 Nan
12478 zéros
449 valeurs uniques :
[0.0000e+00 3.2000e+01 1.0000e+00 1.9000e+01 2.7000e+01 7.0000e+00
 1.5000e+01 8.0000e+00 9.6000e+01 1.2000e+01 1.1000e+01 2.0000e+00
 7.7500e+02 1.7000e+01 5.8000e+01 1.2200e+02 3.0000e+00 3.1000e+01
 5.0000e+00 5.2000e+01 4.0000e+00 9.0000e+00 2.4000e+01 4.4000e+01
 8.7000e+01 2.2000e+01 2.3000e+01 6.0000e+00 6.7200e+02 3.4000e+01
 6.1000e+01 1.5600e+02 3.9800e+02 2.2500e+02 1.0000e+01 6.7000e+01
 1.2100e+02 2.8000e+01 1.7730e+03 7.8000e+01 3.0000e+01 4.8000e+01
 6.2500e+02 5.7000e+01 2.6000e+01 1.9700e+02 3.2820e+03 2.5200e+02
 1.4400e+02 4.0000e+01 4.2400e+02 9.1000e+01 8.6000e+01 4.9000e+01
 2.6800e+02 1.6000e+01 5.1600e+02 8.2000e+01 2.0000e+02 1.4500e+02
 6.2000e+01 4.9300e+02 7.3000e+01 5.0000e+01 6.9000e+01 2.8900e+02
 1.3900e+02 2.2900e+02 3.3000e+01 1.3000e+01 3.5000e+01 2.5000e+01
 4.1000e+01 8.3000e+01 5.1000e+01 7.7000e+01 2.2100e+02 2.6000e+02
 3.0700e+02 2.6900e+02 9.7000e+01 3.9000e+01 7.6000e+01 8.6000e+02
 1.7180e+03 7.0000e+01 3.7000e+01 1.4000e+01 4.9200e+02 1.0420e+03
 6.0700e+02 1.8200e+02 2.8200e+02 1.3670e+03 1.0500e+02 2.9000e+01
 1.6340e+03 7.3000e+02 2.1230e+03 8.1450e+03 7.2000e+01 1.4300e+02
 1.7810e+03 2.1000e+01 1.3200e+02 2.8800e+02 1.5000e+02 9.4400e+02
 4.2000e+01 5.5047e+04 3.9900e+02 6.0800e+02 2.0000e+01 1.2800e+02
 1.6700e+02 6.5000e+01 1.8500e+02 1.2300e+02 3.5100e+02 6.3000e+01
 8.5000e+01 5.7600e+02 4.8300e+02 1.6000e+02 6.2800e+02 6.6000e+01
 5.5000e+01 1.1100e+02 1.4710e+03 1.9200e+02 3.8000e+01 6.5600e+02
 1.4200e+02 8.8000e+01 3.6000e+01 5.4100e+02 1.6400e+02 4.5000e+01
 4.5200e+02 1.8000e+01 8.0000e+01 4.0300e+02 1.5800e+02 6.4000e+01
 1.7900e+02 9.4000e+01 1.3300e+02 5.9000e+01 1.4000e+02 1.6600e+02
 2.0900e+02 7.1000e+01 4.7600e+02 2.5180e+03 2.9900e+03 5.3000e+01
 3.4090e+03 7.2600e+02 3.8300e+02 1.2400e+02 1.4100e+03 3.7638e+04
 1.3800e+02 1.0250e+04 1.4380e+03 2.2300e+03 7.3900e+02 3.7400e+02
 3.5260e+03 1.5200e+02 3.9720e+03 4.7970e+03 9.0000e+01 3.5200e+02
 6.3930e+03 6.0400e+02 1.7800e+02 3.5390e+03 1.6100e+02 3.3300e+02
 2.0600e+02 7.9000e+01 8.1000e+01 2.5800e+02 6.0000e+01 5.4000e+01
 2.9500e+02 6.8000e+01 3.1800e+02 4.8000e+02 3.4600e+02 1.1900e+02
 2.6300e+02 1.0000e+02 4.6000e+01 4.7000e+01 8.4000e+01 3.5800e+02
 2.2240e+03 2.7800e+02 8.1400e+02 1.1860e+03 1.9000e+02 3.7900e+02
 4.4500e+02 2.2700e+02 1.3700e+02 8.2900e+02 2.3000e+02 8.2200e+02
 1.3000e+02 1.0500e+03 1.0200e+02 6.6300e+02 1.8300e+02 6.3600e+02
 2.4300e+02 1.2300e+03 1.1600e+02 3.6800e+02 1.1230e+03 4.8000e+03
 2.7900e+02 3.9500e+02 1.0900e+02 2.8400e+02 1.5900e+02 1.0600e+02
 9.2800e+02 1.2500e+02 4.3000e+01 3.0100e+02 1.2000e+02 1.9900e+02
 5.5150e+03 5.6110e+03 4.4470e+03 2.3500e+02 6.1500e+02 1.8100e+02
 4.8780e+03 4.6680e+03 4.4300e+02 3.6200e+02 2.3300e+03 5.3500e+02
 3.8400e+02 9.6600e+02 6.4600e+02 2.1100e+02 1.1336e+04 2.4900e+02
 3.1860e+03 5.3800e+02 5.1180e+03 1.8230e+03 1.4700e+02 5.3600e+02
 1.3600e+02 1.8300e+03 7.4700e+02 3.1100e+03 1.2770e+03 1.0300e+02
 9.9000e+01 2.1000e+02 3.6640e+03 9.5000e+01 6.8500e+02 1.1500e+02
 3.8100e+02 3.1300e+02 1.4550e+03 2.9300e+02 2.0500e+02 2.0700e+02
 1.7000e+02 4.6000e+02 2.1200e+02 5.6500e+02 6.4200e+02 1.6200e+02
 2.8000e+02 1.0100e+02 1.4100e+02 9.4600e+02 2.2600e+02 3.2500e+02
 5.7300e+02 1.9800e+02 7.1600e+02 1.1300e+02 2.1300e+02 3.0500e+02
 1.6500e+02 1.0230e+03 7.4000e+01 2.0400e+02 1.3500e+02 9.2000e+01
 3.4100e+02 2.1900e+02 8.0000e+02 9.3900e+02 1.8000e+02 1.2730e+03
 1.7600e+02 3.2900e+02 3.5500e+02 6.8000e+02 9.9900e+02 4.5400e+02
 1.7400e+02 1.3100e+02 1.5400e+02 2.7700e+02 2.2400e+02 2.1400e+02
 5.7000e+02 5.5800e+02 2.8580e+03 2.5900e+02 1.7300e+02 1.2240e+03
 7.3800e+02 1.1800e+02 3.0900e+02 2.3200e+02 7.0000e+02 9.3000e+01
 8.9000e+01 3.3000e+02 4.0400e+02 3.6100e+02 1.9500e+02 4.1000e+02
 1.4900e+02 8.8000e+02 3.5400e+02 4.0500e+03 1.0780e+03 6.0800e+03
 1.1620e+03 4.3700e+02 1.0350e+03 1.1700e+03 3.4300e+02 4.4400e+02
 3.8580e+03 2.2800e+02 7.5000e+01 5.6000e+02 1.8600e+02 1.1000e+03
 1.6300e+02 2.7400e+02 7.2100e+02 1.1160e+03 5.0000e+02 3.2200e+02
 3.7700e+02 1.5500e+02 4.0000e+02 1.6900e+02 5.2900e+02 2.8700e+02
 1.1700e+02 1.9840e+03 4.1300e+02 5.6000e+01 3.1700e+02 1.9050e+03
 4.0500e+02 1.0020e+03 1.0400e+02 2.8500e+02 8.5900e+02 3.2300e+02
 2.7300e+02 1.7700e+02 1.1000e+02 3.9600e+02 3.5000e+02 1.5110e+03
 1.7860e+03 1.0010e+03 1.1400e+02 2.3000e+03 5.8800e+02 1.1740e+03
 2.7450e+03 2.3600e+02 2.8600e+02 1.9400e+02 1.1850e+03 4.0100e+02
 1.7700e+03 1.7500e+02 2.9900e+02 4.1200e+02 1.2600e+02 5.0500e+02
 1.9300e+02 1.2350e+03 1.5300e+02 1.0700e+02 1.4000e+03 3.6500e+02
 1.3880e+03 2.5300e+02 2.7100e+02 1.1890e+03 9.2300e+02 5.9100e+02
 7.1000e+02 1.5100e+02 1.1200e+02 1.7200e+02 1.8900e+02 3.1100e+02
 1.4630e+03 4.8800e+02 2.7030e+03 1.0070e+03 2.4500e+02 2.3400e+02
 1.2900e+02 3.3400e+02 5.2000e+02 2.1800e+02 9.8000e+01 1.5700e+02
 2.9400e+02 2.5410e+03 3.0100e+03 3.5310e+03 1.4330e+03 3.7927e+04
 1.0295e+04 1.4810e+03 2.2370e+03 7.8900e+02 3.7800e+02 3.5330e+03
 3.9920e+03 4.8030e+03 6.4060e+03 6.1000e+02 3.5530e+03]
count   15,702.00
mean        34.65
std        668.55
min          0.00
25%          0.00
50%          0.00
75%          0.00
max     55,047.00
Name: pertes, dtype: float64


Production :
0 Nan
7868 zéros
1707 valeurs uniques :
[1.5000e+01 0.0000e+00 3.0000e+00 ... 1.8938e+04 1.6610e+03 6.4100e+02]
count    15,702.00
mean        761.28
std      10,498.50
min           0.00
25%           0.00
50%           0.00
75%          44.00
max     739,267.00
Name: Production, dtype: float64


semences :
0 Nan
14293 zéros
254 valeurs uniques :
[0.000e+00 3.000e+01 1.000e+00 1.400e+01 1.230e+02 3.220e+02 5.000e+00
 2.000e+00 2.200e+01 2.300e+01 1.800e+01 3.000e+00 2.900e+01 8.000e+00
 1.530e+02 4.000e+00 2.100e+01 9.200e+01 1.710e+02 1.600e+01 3.900e+01
 5.800e+01 2.150e+02 1.210e+02 5.340e+02 9.000e+00 1.000e+01 2.800e+02
 5.200e+01 1.390e+02 6.400e+01 2.600e+01 1.088e+03 1.500e+01 3.500e+01
 6.310e+02 6.000e+00 1.100e+01 1.200e+01 4.600e+01 4.300e+01 1.670e+02
 3.300e+01 9.300e+01 5.500e+01 5.100e+01 7.000e+00 4.100e+01 1.300e+01
 2.700e+01 4.440e+02 7.880e+02 1.900e+01 2.570e+02 1.280e+02 2.310e+02
 5.600e+01 1.330e+02 3.860e+02 3.950e+02 4.200e+01 2.400e+02 1.200e+02
 1.211e+03 2.380e+02 1.050e+02 1.700e+01 1.100e+02 4.000e+01 6.100e+01
 5.560e+02 2.500e+01 1.110e+02 3.100e+01 9.000e+01 1.031e+03 7.300e+01
 7.600e+01 2.070e+02 2.260e+02 2.050e+02 1.860e+02 2.000e+01 2.400e+01
 2.920e+02 4.600e+03 1.220e+02 2.640e+02 2.610e+02 7.400e+01 1.140e+02
 1.650e+03 7.360e+02 4.900e+01 8.100e+01 3.100e+03 4.669e+03 7.130e+02
 1.020e+02 8.500e+01 6.700e+01 1.122e+03 3.600e+01 1.420e+02 1.960e+02
 6.420e+02 1.070e+02 1.290e+02 1.000e+02 1.360e+02 2.200e+02 1.262e+03
 1.720e+02 2.800e+01 5.000e+01 2.170e+02 3.200e+01 5.700e+01 4.920e+02
 3.770e+02 2.860e+02 6.900e+01 6.500e+01 7.480e+02 5.900e+01 7.900e+01
 2.300e+02 3.500e+02 4.800e+01 5.710e+02 6.800e+01 6.300e+01 2.470e+02
 4.060e+02 1.600e+02 5.300e+01 1.980e+02 7.000e+01 3.400e+01 2.550e+02
 3.060e+03 2.360e+02 3.000e+02 6.730e+02 9.460e+02 1.520e+02 9.700e+01
 3.700e+01 3.238e+03 2.171e+03 6.960e+02 1.650e+02 1.706e+04 1.800e+02
 1.880e+02 6.000e+01 4.040e+02 7.340e+02 6.600e+01 1.180e+02 1.590e+02
 2.850e+02 1.260e+02 3.250e+02 1.380e+02 1.146e+03 2.230e+03 2.840e+02
 3.800e+01 3.730e+02 7.500e+01 1.490e+02 2.520e+02 4.500e+01 9.500e+01
 1.370e+02 1.550e+02 8.400e+01 4.400e+01 3.700e+02 2.990e+02 1.270e+02
 1.080e+02 8.700e+01 2.700e+02 1.300e+02 9.800e+01 2.280e+02 7.100e+01
 1.160e+02 2.240e+02 1.333e+03 4.700e+01 1.620e+02 1.770e+02 6.375e+03
 7.000e+02 1.540e+02 6.200e+01 1.045e+03 6.000e+02 4.190e+02 2.080e+02
 2.650e+02 7.800e+01 5.900e+02 7.300e+02 1.320e+02 1.300e+03 6.500e+03
 4.000e+02 1.130e+02 2.800e+03 2.250e+02 6.579e+03 4.130e+02 1.400e+02
 4.080e+02 7.240e+02 9.900e+01 1.030e+02 8.200e+01 1.630e+02 1.610e+02
 6.060e+02 1.010e+02 1.399e+03 8.300e+01 5.570e+02 2.500e+02 2.900e+02
 1.618e+03 2.420e+02 6.700e+02 5.660e+03 8.800e+01 2.096e+03 5.820e+02
 7.580e+02 3.200e+02 1.450e+02 1.145e+03 1.090e+02 2.640e+03 1.738e+03
 8.000e+01 8.810e+02 2.210e+02 1.190e+02 2.950e+02 1.651e+03 7.620e+02
 3.102e+03 4.679e+03]
count   15,702.00
mean        10.93
std        203.33
min          0.00
25%          0.00
50%          0.00
75%          0.00
max     17,060.00
Name: semences, dtype: float64


transfo :
0 Nan
14196 zéros
510 valeurs uniques :
[ 0.00000e+00  1.00000e+01  2.00000e+00  7.00000e+00  7.80000e+01
  8.00000e+00  5.40000e+01  2.60000e+01  3.00000e+00  4.00000e+00
  1.50000e+01  9.00000e+00  1.00000e+00  3.90000e+01  4.40000e+01
  4.20000e+01  4.00000e+02  8.30000e+01  2.30000e+01  7.00000e+01
  1.31500e+03  1.10000e+01  1.18000e+02  9.90000e+01  2.10000e+01
  4.77000e+02  1.81000e+02  1.90000e+01  8.40000e+01  2.58400e+03
  4.64000e+02  8.70000e+01  3.80000e+02  7.50000e+01  2.00000e+01
  2.37800e+03  3.40410e+04  1.60000e+01  2.36500e+04  6.60000e+01
  2.40000e+01  8.11000e+02  9.06000e+02  4.70000e+01  5.60000e+01
  3.02000e+02  1.64200e+03  7.70000e+01  4.50000e+01  2.71360e+04
  6.00000e+00  1.40000e+01  3.10000e+01  3.45000e+02  1.03000e+02
  1.30000e+01  6.79000e+02  1.43000e+02  5.00000e+00  1.20000e+01
  4.80000e+01  3.14000e+02  4.30000e+01  3.40100e+03  5.80000e+01
  1.73000e+02  2.80000e+01  1.32000e+02  2.10000e+02  3.54000e+02
  3.50000e+01  4.13000e+03  1.47000e+02  6.90000e+01  2.11700e+03
  8.36300e+03  1.55000e+02  2.70000e+01  8.20000e+01  1.67100e+03
  1.14000e+02  1.08000e+02  1.54100e+03  2.02000e+02  5.70000e+01
  4.02000e+02  6.97000e+02  3.55130e+04  3.26711e+05  1.07800e+03
  8.90000e+01  9.30000e+01  4.10000e+01  4.90000e+02  2.58000e+02
  1.33000e+02  2.55000e+02  5.34000e+02  2.62000e+02  3.27000e+02
  2.75300e+03  1.65000e+02  8.07600e+03  7.69000e+02  1.78000e+02
  1.84600e+03  1.41000e+02  3.70000e+01  1.24000e+02  1.11000e+02
  9.50000e+02  1.38000e+02  6.70000e+03  5.30000e+01  1.21000e+02
  1.17600e+03  8.69000e+02  3.00000e+01  1.00000e+02  1.58800e+03
  5.23000e+02  9.80000e+01  1.04000e+02  4.50000e+02  3.20000e+02
  3.90000e+02  7.10000e+01  1.85000e+03  2.50000e+01  1.88600e+03
  5.28500e+03  3.16000e+02  1.63700e+03  1.33410e+04  1.05630e+04
  8.99000e+02  6.53500e+03  2.99700e+03  5.50000e+01  2.61800e+03
  2.71300e+03  8.40000e+03  2.27000e+03  5.91620e+04  1.03290e+04
  6.45700e+03  1.21943e+05  5.12000e+02  3.40000e+01  2.20000e+01
  2.42000e+02  2.24000e+02  7.30000e+01  3.86000e+02  3.06940e+04
  5.00000e+02  5.20000e+01  2.44000e+02  4.51100e+03  1.80000e+01
  8.00000e+01  1.43000e+04  3.23000e+02  1.07000e+02  9.00000e+01
  1.70000e+01  4.70000e+02  1.28000e+02  5.10000e+01  8.49000e+02
  2.55000e+03  4.77100e+03  1.79000e+02  6.74000e+02  1.52000e+02
  3.20000e+01  4.58600e+03  8.10000e+01  5.90300e+03  1.30000e+02
  4.90000e+01  1.48000e+02  1.64700e+03  9.84400e+03  1.08990e+04
  6.37000e+03  1.61000e+03  2.00000e+02  4.80000e+02  1.57500e+03
  4.45000e+03  1.29800e+03  1.48500e+03  8.29000e+02  5.50400e+03
  5.16000e+02  2.79800e+04  7.20000e+01  7.85000e+02  6.40000e+01
  1.56000e+02  2.03000e+02  8.16900e+03  3.13000e+02  6.26000e+02
  1.78800e+03  2.34000e+02  1.11000e+03  5.86000e+02  3.28200e+03
  2.30770e+04  5.00000e+01  1.09000e+02  9.60000e+01  2.90000e+01
  1.74000e+02  1.70900e+03  4.92000e+02  2.87000e+02  5.55000e+02
  3.80000e+01  2.58080e+04  1.87000e+02  2.10800e+03  7.60000e+02
  1.05000e+02  6.28700e+03  3.09000e+02  1.12000e+02  1.01400e+03
  5.85000e+02  4.03000e+02  7.64000e+02 -1.90000e+01  1.31200e+03
  3.09300e+03  3.49100e+03  1.99000e+02  6.75000e+03  5.85300e+03
  5.87000e+02  1.02000e+02  1.63600e+03  3.68000e+02  9.40000e+03
  3.00250e+05  3.04000e+02  6.90400e+03  2.20000e+02  6.88000e+03
  3.29000e+02  2.10900e+03  3.37000e+04  3.46000e+02  8.50000e+01
  2.88000e+02  3.50200e+03  6.53700e+03  3.37000e+02  3.42000e+02
  5.15000e+02  2.85300e+03  3.58000e+02  5.92700e+03  1.58200e+03
  2.13500e+03  4.13000e+02  1.69000e+02  3.60000e+01  1.92100e+03
  1.61000e+02  8.80000e+01  4.01000e+02  3.30000e+01  9.50000e+01
  6.80000e+01  4.00000e+01  1.06000e+02  1.40300e+03  2.39600e+03
  2.23500e+03  6.59000e+02  3.19000e+02  1.91100e+03  3.43500e+03
  1.19100e+03  9.40000e+01  1.94000e+02  4.55000e+03  8.60000e+01
  6.50000e+01  3.98000e+02  2.49000e+02  1.80400e+03  1.63100e+03
  3.28000e+02  3.70000e+02  3.55000e+02  8.14000e+02  1.17000e+02
  6.00000e+01  4.60000e+01  1.71000e+02  1.03300e+03  7.50000e+02
  9.20000e+01  2.90000e+03  4.52000e+02  4.88000e+03  5.39000e+02
  1.95000e+02  3.40000e+02  3.81600e+03  1.01300e+03  1.48000e+03
  2.97000e+02  1.60200e+03  6.57000e+02  2.44000e+03  5.90860e+04
  8.15000e+02  6.20000e+01  2.14200e+03  6.20000e+02  2.46000e+02
  3.70500e+03  2.11000e+02  7.80000e+02  1.86000e+02  1.40000e+03
  8.52000e+02  5.45000e+02  2.22000e+02  3.77000e+02  5.58300e+03
  1.36000e+02  7.40000e+01  1.98000e+02  6.93000e+03  1.37400e+03
  1.37000e+02  3.11000e+02  1.64000e+02  4.27000e+02  1.68000e+02
  4.04000e+02  6.60000e+02  2.51400e+03  4.45000e+02  1.85000e+02
  5.20000e+04  1.78700e+03  9.93000e+02  3.93000e+02  3.86500e+03
  1.34000e+02  2.94000e+03  2.89900e+03  5.90000e+01  1.72000e+02
  2.17000e+02  1.09920e+04  8.58600e+03  2.19000e+02  2.96430e+04
  2.29000e+03  1.31000e+02  7.83000e+02  3.85000e+02  1.12340e+04
  2.67000e+02  6.15000e+02  1.35000e+02  8.20000e+02  7.08000e+02
  9.10000e+01  3.88000e+03  2.30000e+02  8.37000e+02  3.65000e+02
  8.10000e+02  1.15000e+02  1.02400e+03  9.54000e+02  5.96000e+02
  7.39600e+03  1.60000e+02  1.10200e+03  1.82100e+03  2.80000e+02
  8.01000e+02  1.93000e+03  3.59700e+04  4.74000e+02  2.54000e+02
  8.90000e+02  1.22000e+02  2.16000e+02  1.14500e+03  4.72000e+02
  1.44000e+03  6.11000e+02  1.90310e+04  1.39000e+02  1.05400e+03
  8.70300e+03  7.00000e+02  6.23100e+03  3.30000e+03  2.51900e+03
  6.30000e+02  5.45000e+03  2.69000e+02  2.92000e+02  2.18000e+03
  7.90000e+01  1.39100e+03  4.55000e+02  1.58000e+02  2.06000e+03
  2.68000e+02  1.19000e+02  2.13000e+02  5.10000e+02  3.61000e+02
  2.51500e+03  1.44000e+02  4.40000e+02  4.35000e+02  1.13000e+03
  1.42800e+03  9.50000e+04  1.07400e+03  4.59000e+02  2.31000e+02
  1.23900e+03  2.11500e+03  1.28600e+03  1.91000e+02  5.79000e+02
  1.16000e+03  1.65000e+04  6.38000e+02  4.37000e+02  1.70000e+02
  1.25000e+02  3.65000e+03  3.24000e+02  1.76200e+03  3.57000e+02
  1.65400e+03  6.70000e+02  8.44200e+03  9.70000e+01  7.24000e+03
  8.27000e+02  5.43000e+02  9.15000e+02  2.93000e+02  6.86000e+02
  7.00500e+03  2.08000e+02  1.68900e+03  1.81400e+03  4.63000e+02
  2.32300e+04  6.70000e+01  3.16100e+03  3.15000e+02  4.59600e+03
  4.71890e+04  1.75300e+03  2.98040e+04  2.61800e+04  6.67000e+02
  2.74000e+02 -4.00000e+00  1.54900e+03  3.71000e+02  2.65000e+02
  6.99300e+03  8.06000e+02  3.62000e+02  1.76500e+04  2.18000e+02
  2.56000e+02  2.75000e+03  6.30000e+01  4.00000e+03  1.60800e+03
  1.36200e+03  3.34000e+02  7.60000e+01  5.00000e+03  1.45000e+02
  4.18000e+02  3.07000e+02  3.07200e+03  6.45800e+03  5.30000e+03
  3.17000e+02  6.69300e+03  3.09100e+03  2.62400e+03  2.74400e+03
  8.45300e+03  6.12220e+04  1.03330e+04  1.22563e+05  5.46000e+02]
count    15,702.00
mean        156.91
std       4,131.83
min         -19.00
25%           0.00
50%           0.00
75%           0.00
max     326,711.00
Name: transfo, dtype: float64


Variation de stock :
0 Nan
14201 zéros
403 valeurs uniques :
[ 0.0000e+00 -1.1800e+02  3.0000e+00  2.0000e+00  1.5000e+01 -3.5000e+02
  1.0000e+00 -1.9000e+01 -2.0000e+00 -2.0000e+01 -1.0000e+01 -1.5000e+01
 -1.8000e+02 -3.5000e+01 -2.8000e+02 -7.9000e+01 -1.1000e+02  2.0000e+01
 -8.7000e+02 -1.7400e+02 -1.0000e+00 -6.0000e+01 -1.4530e+03  2.1000e+01
  3.5000e+01 -4.0000e+02  2.8000e+01 -1.4000e+01  6.0000e+00 -2.5000e+01
 -2.0000e+02 -4.0000e+03  8.0000e+01  8.0000e+00  5.0000e+01 -4.1000e+01
 -4.9200e+03  2.5900e+02 -2.6800e+02  1.7240e+03  9.0000e+00  5.3400e+02
 -1.8000e+01 -1.0600e+02 -1.0500e+02 -8.3000e+01 -3.0000e+01  1.5000e+03
 -5.5000e+01  3.1100e+02 -7.0000e+00  7.0000e+00  2.6000e+01 -3.4700e+02
  2.5000e+01 -6.1000e+01 -6.9000e+01  1.0000e+01 -9.3000e+01  4.0000e+00
 -6.2700e+02 -4.1770e+03 -4.1400e+02  9.4000e+01 -4.8000e+01  1.9000e+01
  1.3000e+01 -1.3000e+01  9.2000e+01 -4.6000e+01 -1.0000e+02 -3.0800e+02
  2.5000e+02 -1.5000e+02  4.5100e+02 -1.1000e+03  2.9200e+02 -9.0000e+00
 -3.0000e+00  5.4800e+02  4.8100e+02 -3.9000e+01 -3.0000e+02  9.0000e+02
 -1.4500e+02  5.0000e+00 -1.6300e+02 -5.2000e+01 -9.2620e+03  4.0000e+01
  5.3000e+01 -2.9800e+03  3.0000e+01  6.5000e+01  1.1700e+02 -2.7000e+01
 -6.4000e+02 -6.7000e+01 -4.0000e+01 -4.8100e+02 -2.8000e+01 -1.1700e+02
 -6.2000e+01 -1.9100e+02  8.3000e+01 -5.0000e+00  1.4000e+01 -8.9000e+01
 -1.0400e+02 -7.7000e+01 -1.7830e+03 -8.5090e+03 -4.0020e+03 -5.0000e+01
  4.9000e+01 -8.7000e+01 -7.0000e+01  2.9000e+01  7.2000e+01  7.9000e+01
  1.7000e+01  2.4000e+01  6.6000e+01 -1.7000e+01  2.2000e+01 -6.5000e+01
 -7.5000e+01 -2.4500e+02 -6.0000e+00  1.7700e+02  1.1000e+01 -4.0000e+00
 -1.9800e+02 -1.7800e+02  7.5000e+01 -1.2100e+02 -1.2000e+01  5.5600e+02
 -1.1000e+01  2.0000e+02  1.0000e+02  3.0000e+02  4.8000e+02 -3.3000e+01
 -2.6000e+02  3.9000e+01  5.4000e+01  9.7000e+01  2.7000e+01 -1.1900e+02
 -2.3300e+02 -2.4400e+02 -4.3000e+01  1.1310e+03 -1.0180e+03  1.1480e+03
 -2.5300e+02 -4.5600e+02 -6.3900e+02 -2.1000e+01 -1.6000e+02 -7.8000e+01
  1.9200e+02 -4.9000e+01  4.1000e+01  3.3000e+01  4.5000e+01 -3.0790e+03
  6.1000e+01  6.0000e+01 -1.8440e+03 -9.5000e+01  2.1650e+03  6.4200e+02
  1.8000e+01  2.0900e+02  1.1780e+03  2.0500e+02 -1.6200e+02  2.4700e+02
 -8.0000e+00  1.5400e+02  8.6000e+01 -1.2800e+02 -2.1000e+02  8.8000e+01
 -3.4000e+01  4.8000e+01 -2.6000e+01  9.3000e+01 -2.4200e+02  3.7300e+02
  1.2000e+02 -1.2000e+02 -2.6900e+02  1.6000e+01  1.2700e+02  6.8000e+01
 -1.8230e+03 -1.6000e+01 -1.9000e+02 -2.2000e+01  6.2000e+01  1.2000e+01
 -5.4000e+01  8.4000e+01 -2.0820e+03  7.0000e+01 -2.9000e+01 -2.7900e+02
 -5.0000e+02 -7.7300e+02  6.7000e+01 -1.0000e+03 -1.1250e+03 -1.1380e+03
  4.3200e+02 -9.9400e+02 -1.2600e+02 -4.5000e+02 -8.0000e+01  1.1100e+02
 -2.0700e+02 -3.2000e+01 -3.7000e+01  1.0100e+02  5.2000e+01  1.0540e+03
 -1.3500e+02  5.6000e+01  1.3000e+02  1.3500e+02  1.1800e+02  1.2200e+02
 -3.8000e+01  3.1000e+01 -3.2200e+02 -4.6200e+02 -4.5000e+01 -9.0000e+01
 -3.4000e+02 -8.6000e+01 -2.3000e+01  1.9500e+02 -5.7000e+01 -2.1200e+02
  1.5300e+02  5.1000e+01  8.5000e+01  3.0300e+02  8.9000e+01 -3.8600e+02
  2.7800e+02  5.8000e+01 -1.5800e+02  2.3000e+01  9.5000e+01  1.8800e+02
  2.4800e+02  1.0400e+02  5.1000e+02  1.0800e+02  1.0700e+02 -1.1500e+02
  2.5000e+03  4.4800e+02  3.2000e+01 -5.1000e+01 -1.0900e+02 -8.8000e+01
 -7.6000e+01 -1.1600e+02  1.7800e+02  1.4600e+02  2.9500e+02  4.4000e+01
 -6.0800e+02  5.1400e+02  1.1200e+02 -1.3900e+02  1.9720e+03 -4.7000e+01
  4.0000e+02 -9.8900e+02 -1.4600e+02  1.2400e+02  1.8000e+02  6.6800e+02
 -3.9600e+02 -9.2000e+01  9.7100e+02 -2.0000e+03 -2.6500e+02 -1.3680e+03
  1.9100e+02  2.3000e+02  3.2800e+02  2.6000e+02  2.4000e+02  7.9500e+02
 -4.2000e+01 -2.2200e+02  1.1600e+02  6.4000e+01  3.6000e+01  3.2000e+02
  1.3240e+03 -6.4700e+02 -3.0900e+02 -1.8200e+03 -4.7000e+02 -8.4000e+02
 -4.5000e+03 -1.3000e+03  9.0000e+01  5.8200e+02  2.0000e+03 -9.6000e+01
  2.4500e+02 -2.4100e+02 -1.5500e+02 -4.8800e+02  1.5800e+02 -2.1400e+02
  1.8900e+02  1.1300e+02  9.6000e+01  4.5000e+02  3.4000e+01  2.3800e+02
  1.6500e+03 -2.3100e+02 -3.2600e+02  6.0800e+02  1.2600e+02 -5.9000e+02

## cereales
Cette table ne contient que des redondances de la table vegetaux, elle ne servira qu'à catégoriser certains de ces produits végétaux.

In [22]:
exploration(cereales)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            891 non-null    object
 1   Domaine                 891 non-null    object
 2   code_pays               891 non-null    int64
 3   pays                    891 non-null    object
 4   Code Élément            891 non-null    int64
 5   Élément                 891 non-null    object
 6   code_produit            891 non-null    int64
 7   produit                 891 non-null    object
 8   Code année              891 non-null    int64
 9   annee                   891 non-null    int64
 10  Unité                   891 non-null    object
 11  Valeur                  891 non-null    int64
 12  Symbole                 891 non-null    object
 13  Description du Symbole  891 non-null    object
dtypes: int64(6), object(8)
memory usage: 97.6+ KB
None


Code Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['FBSH']
count      891
unique       1
top       FBSH
freq       891
Name: Code Domaine, dtype: object


Domaine :
0 Nan
0 zéros
1 valeurs uniques :
['Bilans Alimentaire (Ancienne méthodologie et population)']
count                                                   891
unique                                                    1
top       Bilans Alimentaire (Ancienne méthodologie et p...
freq                                                    891
Name: Domaine, dtype: object


code_pays :
0 Nan
0 zéros
167 valeurs uniques :
[  2 202   3   4  79   7   8 194   9   1  10  11  52  12  16  14  57 255
  23  53  19  80  20  21  26  27 233  35 115  32  33  40  96  41 214  50
  44  46  48 107  98  49  54  72  55  59  60 225  58 203  63 209 231 238
 185  66  67  68  74  75  73  81  84  86  89  90 175  91  93  95  97  25
 100 101 102 103 104 105 106 109 110 112 108 114 113 118 122 119 121 123
 126 256 154 129 131 130 132 133 134 143 137 136 138 141 273 144  28 147
 149 157 158 159 162 153 156 221 226 235 165 166 169 150 170 171 173 174
  37 117 146 120  56 116 215 183 229 184 189 191 193 195 272 197 199 198
 276  38 210 211 207 208  39 167 216 176 217 220 222 213 223 230 234 155
 236 237 249 251 181]
count   891.00
mean    130.01
std      74.81
min       1.00
25%      67.00
50%     129.00
75%     197.50
max     276.00
Name: code_pays, dtype: float64


pays :
0 Nan
0 zéros
167 valeurs uniques :
['Afghanistan' 'Afrique du Sud' 'Albanie' 'Algérie' 'Allemagne' 'Angola'
 'Antigua-et-Barbuda' 'Arabie saoudite' 'Argentine' 'Arménie' 'Australie'
 'Autriche' 'Azerbaïdjan' 'Bahamas' 'Bangladesh' 'Barbade' 'Bélarus'
 'Belgique' 'Belize' 'Bénin' 'Bolivie (État plurinational de)'
 'Bosnie-Herzégovine' 'Botswana' 'Brésil' 'Brunéi Darussalam' 'Bulgarie'
 'Burkina Faso' 'Cabo Verde' 'Cambodge' 'Cameroun' 'Canada' 'Chili'
 'Chine - RAS de Hong-Kong' 'Chine, continentale'
 'Chine, Taiwan Province de' 'Chypre' 'Colombie' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatie' 'Cuba' 'Danemark' 'Djibouti' 'Dominique'
 'Égypte' 'El Salvador' 'Émirats arabes unis' 'Équateur' 'Espagne'
 'Estonie' 'Eswatini' "États-Unis d'Amérique" 'Éthiopie'
 'Fédération de Russie' 'Fidji' 'Finlande' 'France' 'Gabon' 'Gambie'
 'Géorgie' 'Ghana' 'Grèce' 'Grenade' 'Guatemala' 'Guinée' 'Guinée-Bissau'
 'Guyana' 'Haïti' 'Honduras' 'Hongrie' 'Îles Salomon' 'Inde' 'Indonésie'
 "Iran (République islamique d')" 'Iraq' 'Irlande' 'Israël' 'Italie'
 'Jamaïque' 'Japon' 'Jordanie' 'Kazakhstan' 'Kenya' 'Kirghizistan'
 'Koweït' 'Lesotho' 'Lettonie' 'Liban' 'Libéria' 'Lituanie' 'Luxembourg'
 'Macédoine du Nord' 'Madagascar' 'Malaisie' 'Malawi' 'Maldives' 'Mali'
 'Malte' 'Maroc' 'Maurice' 'Mauritanie' 'Mexique' 'Mongolie' 'Monténégro'
 'Mozambique' 'Myanmar' 'Namibie' 'Népal' 'Nicaragua' 'Niger' 'Nigéria'
 'Norvège' 'Nouvelle-Calédonie' 'Nouvelle-Zélande' 'Oman' 'Ouganda'
 'Ouzbékistan' 'Pakistan' 'Panama' 'Paraguay' 'Pays-Bas' 'Pérou'
 'Philippines' 'Pologne' 'Portugal' 'République centrafricaine'
 'République de Corée' 'République de Moldova'
 'République démocratique populaire lao' 'République dominicaine'
 'République populaire démocratique de Corée'
 'République-Unie de Tanzanie' 'Roumanie' 'Royaume-Uni' 'Rwanda'
 'Sainte-Lucie' 'Saint-Vincent-et-les Grenadines' 'Sao Tomé-et-Principe'
 'Sénégal' 'Serbie' 'Sierra Leone' 'Slovaquie' 'Slovénie' 'Soudan'
 'Sri Lanka' 'Suède' 'Suisse' 'Suriname' 'Tadjikistan' 'Tchad'
 'Tchéquie (la)' 'Thaïlande' 'Timor-Leste' 'Togo' 'Trinité-et-Tobago'
 'Tunisie' 'Turkménistan' 'Turquie' 'Ukraine' 'Uruguay' 'Vanuatu'
 'Venezuela (République bolivarienne du)' 'Viet Nam' 'Yémen' 'Zambie'
 'Zimbabwe']
count             891
unique            167
top       Tadjikistan
freq                9
Name: pays, dtype: object


Code Élément :
0 Nan
0 zéros
1 valeurs uniques :
[5511]
count     891.00
mean    5,511.00
std         0.00
min     5,511.00
25%     5,511.00
50%     5,511.00
75%     5,511.00
max     5,511.00
Name: Code Élément, dtype: float64


Élément :
0 Nan
0 zéros
1 valeurs uniques :
['Production']
count            891
unique             1
top       Production
freq             891
Name: Élément, dtype: object


code_produit :
0 Nan
0 zéros
9 valeurs uniques :
[2511 2805 2513 2514 2517 2515 2516 2518 2520]
count     891.00
mean    2,551.65
std        96.15
min     2,511.00
25%     2,514.00
50%     2,516.00
75%     2,518.00
max     2,805.00
Name: code_produit, dtype: float64


produit :
0 Nan
0 zéros
9 valeurs uniques :
['Blé' 'Riz (Eq Blanchi)' 'Orge' 'Maïs' 'Millet' 'Seigle' 'Avoine'
 'Sorgho' 'Céréales, Autres']
count      891
unique       9
top       Maïs
freq       152
Name: produit, dtype: object


Code année :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count     891.00
mean    2,013.00
std         0.00
min     2,013.00
25%     2,013.00
50%     2,013.00
75%     2,013.00
max     2,013.00
Name: Code année, dtype: float64


annee :
0 Nan
0 zéros
1 valeurs uniques :
[2013]
count     891.00
mean    2,013.00
std         0.00
min     2,013.00
25%     2,013.00
50%     2,013.00
75%     2,013.00
max     2,013.00
Name: annee, dtype: float64


Unité :
0 Nan
0 zéros
1 valeurs uniques :
['Milliers de tonnes']
count                    891
unique                     1
top       Milliers de tonnes
freq                     891
Name: Unité, dtype: object


Valeur :
0 Nan
84 zéros
485 valeurs uniques :
[  5169    342    514    312     13   1870      3    268  11811      2
     28      7    147     19    294      0    372     27   3299   1499
      1    113  25019  10344   4387   4689    628   2690      4     25
   1549     39     46    660     11     95    110   9315   1043   4705
  32119     52    445   3636     72    189     21      5     17  22856
    774   7472    507     35   1121     40   2230    177   1598    734
   1639    235     87      8     10    562   1893    799    208   1255
  34350   1485   2101   1673   1120    648    351   1339   1804    386
    827     58     14     20    138   1346     23    115    209    295
    915      6    821     64    265     71     12     48   5718   7843
    318  80538    479   2073    184   5505     37    729   2739     29
     36     45    204   1585   1079   1880   6263    927    129   1647
     97   1150  37530  10237  14194    223   3906    316   1475     80
   1519    680    116 121926 135809   1699 218489    650    614   1746
   2892   1248   1063    135     15   1367   1779     44    150   1290
    661     50    999    201   1874     60    449    426   4145   3950
     76    527    313    109   9460   3818    130   7957     90    762
     24    867    141     54   1011   1543   7745    585  10005   4888
    384    958    472    407    441     22     85    119  57967   5745
   4683 353699    195   1016    418   9882     81   4039    123   1933
   6674    807   4338   4672  52091    624  15389  11635   3360   4932
    419    172   1451    869   1904     26   1197     69  38614     55
  10316  15031    143    432    279   2559     33     94     30    364
    380   1764    155    257   1857    156    391   2260     32   1732
     42   1370    672    214     41    451    140     18    549    336
    108    599   5058   1062   6756    132    465  93510 106186   1750
  23290  10910   5280  47544  18512   9304   1634   2812   1852   4178
    301   1003    831    545   1663    193    152     16   7312    956
    876   7900    247    317    812   7176    183  13941    230   2539
    569     43    305    360    486     98     77   3391    139    819
    310    568     86   1435    233    134    180   2871    686    127
    165    529     91    259    126      9   2408    381   1737     83
   3640   1503   1152    820   6934   2723    118   3357    120    594
  22664   6308    368    234   1631    188  19188   1700    185    215
   1727   3005     34   1999    306    252    546     88   2922   1320
   3135  10400   5000   6700    213    515    224    448    416    202
   2748    228    299   6842    227    136  24231   6767     67   4527
    192   1430    412   4120    105   1335   2035    225   1670     59
  12299   7377   9485   2934   4040   3359   1190   7404     92    930
     47    145   3756   1009    219   1419   2278   1214    550     75
   1935   2002     82    104   1464   5356    323    832   7296   1542
  11305    374    251  11921   7092    964     70     63    668    157
    291    226    362   5864    837   1684    446   1123     31    359
   4524   3082   1869   1940    142    852    480    124     51    175
    947    220    390    582    745    482   4701   1594    675    176
    231  24054   5063     57    254    101    693    285    975    289
     61   1300  22100    600   5900    365  22279   7562  30950    638
    467    102    354   1533    907    200    583   2045    401  29374
   5191    232    439    274   2533]
count       891.00
mean      2,832.04
std      16,786.59
min           0.00
25%           7.00
50%          95.00
75%         824.00
max     353,699.00
Name: Valeur, dtype: float64


Symbole :
0 Nan
0 zéros
1 valeurs uniques :
['S']
count     891
unique      1
top         S
freq      891
Name: Symbole, dtype: object


Description du Symbole :
0 Nan
0 zéros
1 valeurs uniques :
['Données standardisées']
count                       891
unique                        1
top       Données standardisées
freq                        891
Name: Description du Symbole, dtype: object

## *Résumé*
- L'ensemble des tables couvre uniquement l'année 2013, excepté sous_nutrition, qui contient des données de 2012 à 2015 : on a donc gardé la colonne 'annee' pour population et sous_nutrition
- Présence de Nan et de zéros :
    - **population** : aucun
    - **sous_nutrition** : 40% de Nan dans la colonne 'nb_habitants'
    - **aliments** (avant pivot) : 32% de zéros dans la colonne 'Valeur'
    - **aliments** (après pivot) : de 25% à 90% de zéros dans toutes les colonnes (excepté 'population')

## Hypothèses retenues

In [23]:
# Besoin calorique annuel / personne
# = 2300 kilocalories * 365 jours
besoin_kcal = 2000 * 365

# Besoin protéique annuel / personne
# = 0.9 gramme de protéines * 62kg (poids moyen d'un humain) * 365 jours / 1000 (conversion en kg) 
besoin_kgprot = .9 * 62 * 365 / 1000

# Seuil à partir duquel la FAO déclare un pays en sous-nutrition : 5%
# Source : https://fr.wikipedia.org/wiki/Liste_des_pays_par_taux_de_malnutrition
seuil_sousnutrition = 5

# **Questions 1 à 14**

## Q1 : Nombre d'humains sur la planète
Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires. Donnez le résultat de votre calcul pour l'année 2013.

In [24]:
population_monde = population['population'].sum()
population_monde_wikipedia = 7210582000


print(
    "Population mondiale : ⚠️", round((population_monde) / 10**9, 2), "milliards d'habitants \n",
    '(chiffre incohérent comparé aux', round((population_monde_wikipedia / 10**9), 2), 'milliards estimés pour 2013) \n\n',
    'Source : https://en.wikipedia.org/wiki/World_population'
)

Population mondiale : ⚠️ 8.41 milliards d'habitants
 (chiffre incohérent comparé aux 7.21 milliards estimés pour 2013)

 Source : https://en.wikipedia.org/wiki/World_population

In [25]:
# Les données de la Chine ont été agrégées dans le code pays 351, et donc comptabilisées 2 fois
population[population['pays'].str.contains('Chine')]

,code_pays,pays,population,annee,Description du Symbole
33,351,Chine,1416667000,2013,"Agrégat, peut inclure des données officielles,..."
34,96,Chine - RAS de Hong-Kong,7204000,2013,Donnée officielle
35,128,Chine - RAS de Macao,566000,2013,Donnée officielle
36,41,"Chine, continentale",1385567000,2013,Donnée officielle
37,214,"Chine, Taiwan Province de",23330000,2013,Donnée officielle

In [26]:
# Somme des données agrégées
somme_agregat = population[population['code_pays'].isin([96,128,41,214])]['population'].sum()

print(
    'Valeur du code 351 :', '{:,}'.format(int(population[population['code_pays']==351]['population'].sum())), '\n',
    'Somme des codes 96, 128, 41 et 214 :', '{:,}'.format(somme_agregat)
)

Valeur du code 351 : 1,416,667,000
 Somme des codes 96, 128, 41 et 214 : 1,416,667,000

In [27]:
# Fonction de suppression de l'agrégat (code pays 351)
def suppression_agregat(df):
    df.drop(df[df['code_pays']==351].index, inplace=True)
    
# Suppression de l'agrégat dans les dataframes
suppression_agregat(population)
suppression_agregat(sous_nutrition)
suppression_agregat(aliments)

# Drop de la colonne Description dans population, maintenant inutile
population.drop(columns=['Description du Symbole'], inplace=True)

print(population[population['pays'].str.contains('Chine')])

    code_pays                       pays  population  annee
34         96   Chine - RAS de Hong-Kong     7204000   2013
35        128       Chine - RAS de Macao      566000   2013
36         41        Chine, continentale  1385567000   2013
37        214  Chine, Taiwan Province de    23330000   2013

c:\users\guifo\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
c:\users\guifo\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
c:\users\guifo\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
# Population mondiale corrigée
population_monde = population['population'].sum()

print(
    "Population mondiale (corrigée) : 👌", round((population_monde) / 10**9, 2), "milliards d'habitants \n",
    '(', round(population_monde / population_monde_wikipedia * 100), '% de l\'estimation de Wikipedia)' 
)

Population mondiale (corrigée) : 👌 7.0 milliards d'habitants
 ( 97 % de l'estimation de Wikipedia)

## Q2 : Redondances
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type (a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France.

In [29]:
# Formule
# Disponibilité intérieure = Production + Importations + Variation - Exportations = Nourriture + Aliments animaux + Semences + Pertes + Traitement + Autres utilisations

# Exemple du blé en France
bf = aliments[(aliments['pays']=='France') & (aliments['produit']=='Blé')].reset_index()

print(
    bf.loc[0, 'dispo_int'],
    '=',
    bf.loc[0, 'Production']
    + bf.loc[0, 'Importations - Quantité']
    + bf.loc[0, 'Variation de stock']
    - bf.loc[0, 'Exportations - Quantité'],
    '=',
    bf.loc[0, 'nourriture']
    + bf.loc[0, 'alim_ani']
    + bf.loc[0, 'semences']
    + bf.loc[0, 'pertes']
    + bf.loc[0, 'transfo']
    + bf.loc[0, 'autres_utilisations']
)

20298.0 = 20298.0 = 20298.0

## Q3 : Dispo. alimentaire (calories, protéines)
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines. Vous ferez cela à partir de ces informations : Population de chaque pays; Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour, Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [30]:
# Création des colonnes Disponibilité en kcal/an et kgprot/an
aliments['dispo_kcal_an'] = aliments['dispo_alim_kcal_p_j'] * aliments['population'] * 365
aliments['dispo_kgprot_an'] = aliments['dispo_prot'] / 1000 * aliments['population'] * 365

print(len(aliments))
aliments.head(3)

15605

,code_pays,pays,produit,code_produit,annee,origine,alim_ani,autres_utilisations,dispo_alim_kcal_p_j,Disponibilité alimentaire en quantité (kg/personne/an),...,Importations - Quantité,nourriture,pertes,Production,semences,transfo,Variation de stock,population,dispo_kcal_an,dispo_kgprot_an
0,1,Arménie,Abats Comestible,2736,2013,Animale,0.00,3.00,14.00,4.59,...,2.00,14.00,0.00,15.00,0.00,0.00,0.00,2977000,"15,212,470,000.00","2,444,861.25"
1,1,Arménie,"Agrumes, Autres",2614,2013,Végétale,0.00,0.00,0.00,0.46,...,1.00,1.00,0.00,0.00,0.00,0.00,0.00,2977000,0.00,"10,866.05"
2,1,Arménie,"Alcool, non Comestible",2659,2013,Végétale,0.00,0.00,0.00,0.00,...,1.00,0.00,0.00,3.00,0.00,0.00,0.00,2977000,0.00,0.00

In [31]:
# Affichage par pays
print(aliments.pivot_table(index='pays', aggfunc='sum')[['dispo_kcal_an','dispo_kgprot_an']].head(3), '\n')

# Affichage par produit
print(aliments.pivot_table(index='produit', aggfunc='sum')[['dispo_kcal_an','dispo_kgprot_an']].head(3))

                       dispo_kcal_an  dispo_kgprot_an
pays
Afghanistan    23,273,138,760,000.00   649,685,224.80
Afrique du Sud 58,174,984,800,000.00 1,643,732,269.20
Albanie         3,692,166,260,000.00   128,982,608.65

                               dispo_kcal_an  dispo_kgprot_an
produit
Abats Comestible       17,239,626,710,000.00 2,799,873,127.20
Agrumes, Autres         2,473,770,345,000.00    52,058,333.05
Alcool, non Comestible                  0.00             0.00

In [32]:
# Test de cohérence : disponibilité de l'Afghanistan
population_afghanistan = int(population[population['pays']=='Afghanistan']['population'])

# Personnes alimentables en calories et protéines avec la dispo. de l'Afghanistan
q3_test_kcal = aliments[aliments['pays']=='Afghanistan']['dispo_kcal_an'].sum() / besoin_kcal
q3_test_kgprot = aliments[aliments['pays']=='Afghanistan']['dispo_kgprot_an'].sum() / besoin_kgprot

print(
    'Avec la disponibilité de l\'Afghanistan, on pourrait alimenter : \n',
    'En calories :', 
    round(q3_test_kcal / 10**6), 'millions de personnes', 
    '(', round(q3_test_kcal / population_afghanistan * 100), '% de la population locale) \n',
    'En protéines :', 
    round(q3_test_kgprot / 10**6), 'millions de personnes', 
    '(', round(q3_test_kgprot / population_afghanistan * 100), '% de la population locale)'
)

Avec la disponibilité de l'Afghanistan, on pourrait alimenter :
 En calories : 32 millions de personnes ( 104 % de la population locale)
 En protéines : 32 millions de personnes ( 104 % de la population locale)

## Q4 : Ratio énergie/poids
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

In [33]:
# Création des colonnes ratios kcal/kg et pourcentage de protéines
aliments['kcal/kg'] = aliments['dispo_kcal_an'].replace(0, np.nan) / (aliments['nourriture'].replace(0, np.nan) * 1000000)
aliments['% protéines'] = aliments['dispo_kgprot_an'].replace(0, np.nan) / (aliments['nourriture'].replace(0, np.nan) * 1000000) * 100

aliments.dropna(subset=['% protéines'])[aliments['produit']=='Oeufs'][['pays','produit','kcal/kg','% protéines']].sample(3)

<ipython-input-33-6ca98b1f9e72>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  aliments.dropna(subset=['% protéines'])[aliments['produit']=='Oeufs'][['pays','produit','kcal/kg','% protéines']].sample(3)

                                        pays produit  kcal/kg  % protéines
7805   République démocratique populaire lao   Oeufs 1,412.03        10.59
12707                               Suriname   Oeufs 1,377.14        10.53
4733                               Allemagne   Oeufs 1,405.13        11.42

In [34]:
# Test de cohérence : moyennes énergétiques de tous les pays, pour les pommes

# kcal/kg (divisés par 10 pour obtenir la valeur pour 100 grammes)
q4_test_kcal = aliments[aliments['produit']=='Pommes']['kcal/kg'].mean() / 10

# % protéines
q4_test_kgprot = aliments[aliments['produit']=='Pommes']['% protéines'].mean()

print(
    'Moyennes énergétiques mondiales, pour les pommes, comparées aux données de Wikipedia : \n',
    round(q4_test_kcal), 'kcal pour 100g (contre 52 kcal) \n',
    round(q4_test_kgprot, 2), 'grammes de protéines pour 100g (contre 0.26 grammes) \n\n',
    'Source : https://en.wikipedia.org/wiki/Apple'
)

Moyennes énergétiques mondiales, pour les pommes, comparées aux données de Wikipedia :
 40 kcal pour 100g (contre 52 kcal)
 0.19 grammes de protéines pour 100g (contre 0.26 grammes)

 Source : https://en.wikipedia.org/wiki/Apple

## Q5 : Aliments les plus caloriques et protéiques
Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [35]:
# 20 aliments les plus caloriques
print(aliments.pivot_table('kcal/kg', index='produit').sort_values(by='kcal/kg', ascending=False).head(20), '\n')

# 20 aliments les plus protéiques
print(aliments.pivot_table('% protéines', index='produit').sort_values(by='% protéines', ascending=False).head(20), '\n')

                          kcal/kg
produit
Huiles de Foie de Poisso 9,982.93
Huile de Sésame          9,433.74
Huile de Son de Riz      9,361.55
Huiles de Poissons       9,003.72
Huile d'Arachide         8,935.77
Huile d'Olive            8,931.22
Huile de Germe de Maïs   8,871.76
Huil Plantes Oleif Autr  8,848.22
Huile de Palmistes       8,789.54
Huile Graines de Coton   8,750.32
Huile de Palme           8,719.42
Huile de Tournesol       8,693.25
Huile de Soja            8,635.81
Huile de Colza&Moutarde  8,627.37
Huile de Coco            8,565.74
Graisses Animales Crue   7,583.86
Beurre, Ghee             7,331.42
Palmistes                6,496.64
Sésame                   5,796.12
Arachides Decortiquees   5,702.90

                          % protéines
produit
Graines Colza/Moutarde          28.54
Soja                            28.53
Arachides Decortiquees          25.15
Pois                            22.32
Légumineuses Autres             21.97
Haricots                        21.55
Abats Comestible                17.56
Sésame                          17.50
Viande, Autre                   17.40
Plantes Oleiferes, Autre        17.05
Aliments pour enfants           14.88
Viande de Bovins                14.38
Cephalopodes                    13.99
Viande d'Ovins/Caprins          13.58
Viande de Volailles             12.62
Piments                         12.10
Poissons Pelagiques             11.93
Graines de tournesol            11.18
Poissons Marins, Autres         11.01
Épices, Autres                  10.74

In [36]:
# Test de cohérence : moyennes mondiales pour l'huile de sésame et le soja
q5_test_kcal = aliments[aliments['produit']=='Huile de Sésame']['kcal/kg'].mean() / 10 # Résultat pour 100g
q5_test_prot = aliments[aliments['produit']=='Soja']['% protéines'].mean()

print(
    'Moyennes énergétiques mondiales comparées aux données de Wikipedia : \n',
    'Huile de sésame :', round(q5_test_kcal), 'kcal pour 100g (contre 884 kcal) \n',
    'Soja :', round(q5_test_prot, 2), 'grammes de protéines pour 100g (contre 36.49 grammes) \n\n',
    'Sources : \n',
    '- https://en.wikipedia.org/wiki/Sesame_oil \n',
    '- https://en.wikipedia.org/wiki/Soybean \n'
)

Moyennes énergétiques mondiales comparées aux données de Wikipedia :
 Huile de sésame : 943 kcal pour 100g (contre 884 kcal)
 Soja : 28.53 grammes de protéines pour 100g (contre 36.49 grammes)

 Sources :
 - https://en.wikipedia.org/wiki/Sesame_oil
 - https://en.wikipedia.org/wiki/Soybean

## Q6 : Dispo. intérieure mondiale des végétaux (calories)
Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [37]:
# Colonnes Disponibilité intérieure en kcal
aliments['dispo_int_kcal'] = aliments['dispo_int'].replace(0, np.nan) * 1000000 * aliments['kcal/kg']

# Disponibilité intérieure mondiale des végétaux (kcal)
dispo_int_kcal_vegetaux = aliments[aliments['origine']=='Végétale']['dispo_int_kcal'].sum()

print(
    'Dispo. intérieure mondiale des végétaux : '
    f'{round(dispo_int_kcal_vegetaux / 10**9):,}', 'milliards de kcal',
)

Dispo. intérieure mondiale des végétaux : 12,312,091 milliards de kcal

In [38]:
# Test de cohérence : 

# Disponibilité intérieure mondiale des produits d'origine animale (kcal)
dispo_int_kcal_animale = aliments[aliments['origine']=='Animale']['dispo_int_kcal'].sum()

# Ratios dispo.interieure mondiale des produits d'origine végétale puis animale / dispo. intérieure mondiale toutes origines
test_q6_vegetaux = round(dispo_int_kcal_vegetaux / aliments['dispo_int_kcal'].sum() * 100)
test_q6_animale = round(dispo_int_kcal_animale / aliments['dispo_int_kcal'].sum() * 100)

print(
    'Proportions de la disponibilité intérieure mondiale pour les produits : \n',
    '- d\'origine végétale :', test_q6_vegetaux, '% \n',
    '- d\'origine animale :', test_q6_animale, '%'
)

Proportions de la disponibilité intérieure mondiale pour les produits :
 - d'origine végétale : 89 %
 - d'origine animale : 11 %

## Q7 : Potentiel alimentaire des végétaux
Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [39]:
# Humains qu'on pourrait nourrir avec la dispo. intérieure en végétaux
bouches_kcal_vegetaux = dispo_int_kcal_vegetaux / besoin_kcal

print('En calories :')
print(round(bouches_kcal_vegetaux / 10**9), 'milliards d\'humains')
print(round(bouches_kcal_vegetaux / population_monde * 100), '% de la population mondiale')

En calories :
17 milliards d'humains
241 % de la population mondiale

In [40]:
# Colonnes Disponibilité intérieure en kgprot
aliments['dispo_int_kgprot'] = aliments['dispo_int'].replace(0, np.nan) * 1000000 * aliments['% protéines'] / 100

# Disponibilité intérieure mondiale des végétaux (kgprot)
dispo_int_kgprot_vegetaux = aliments[aliments['origine']=='Végétale']['dispo_int_kgprot'].sum()

# Humains qu'on pourrait nourrir avec la dispo. intérieure en végétaux
bouches_kgprot_vegetaux = dispo_int_kgprot_vegetaux / besoin_kgprot

print('En protéines :')
print(round(bouches_kgprot_vegetaux / 10**9), 'milliards d\'humains')
print(round(bouches_kgprot_vegetaux / population_monde * 100), '% de la population mondiale')

En protéines :
14 milliards d'humains
204 % de la population mondiale

## Q8 : Potentiel alimentaire des végétaux (destinés aux animaux + pertes)
Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [41]:
aliments.columns

Index(['code_pays', 'pays', 'produit', 'code_produit', 'annee', 'origine',
       'alim_ani', 'autres_utilisations', 'dispo_alim_kcal_p_j',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'dispo_mat_gr', 'dispo_prot', 'dispo_int', 'Exportations - Quantité',
       'Importations - Quantité', 'nourriture', 'pertes', 'Production',
       'semences', 'transfo', 'Variation de stock', 'population',
       'dispo_kcal_an', 'dispo_kgprot_an', 'kcal/kg', '% protéines',
       'dispo_int_kcal', 'dispo_int_kgprot'],
      dtype='object')

In [42]:
# Valeurs temporaires en kcal
nourriture_kcal = (aliments['nourriture'] * 10**6) * aliments['kcal/kg']
alim_ani_kcal = (aliments['alim_ani'] * 10**6) * aliments['kcal/kg']
pertes_kcal = (aliments['pertes'] * 10**6) * aliments['kcal/kg']

# Valeurs temporaires en kgprot
nourriture_kgprot = (aliments['nourriture'] * 10**6) * (aliments['% protéines'] / 100)
alim_ani_kgprot = (aliments['alim_ani'] * 10**6) * (aliments['% protéines'] / 100)
pertes_kgprot = (aliments['pertes'] * 10**6) * (aliments['% protéines'] / 100)

# Colonnes de sommes des valeurs en kcal et kgprot
aliments['q8_kcal'] = nourriture_kcal + alim_ani_kcal + pertes_kcal
aliments['q8_kgprot'] = nourriture_kgprot + alim_ani_kgprot + pertes_kgprot

# Test de cohérence : ratios q8_kcal et q8_kgprot / Disponibilité intérieure
# → Les ratios sont identiques pour les kcal et les protéines
# → La nourriture + les aliments pour animaux + les pertes représentent souvent la majorité voire la totalité de la disponibilité alimentaire
aliments['q8_test_kcal'] = aliments['q8_kcal'] / ((aliments['dispo_int'] * 10**6) * aliments['kcal/kg'])
aliments['q8_test_kgprot'] = aliments['q8_kgprot'] / ((aliments['dispo_int'] * 10**6) * aliments['% protéines'] / 100)

# Affichage
aliments[[
    'pays',
    'produit',
    'nourriture',
    'alim_ani',
    'pertes',
    'kcal/kg',
    '% protéines',
    'q8_kcal',
    'q8_test_kcal',
    'q8_kgprot',
    'q8_test_kgprot'
]].sample(10)

,pays,produit,nourriture,alim_ani,pertes,kcal/kg,% protéines,q8_kcal,q8_test_kcal,q8_kgprot,q8_test_kgprot
2323,Tchad,Aliments pour enfants,0.00,0.00,0.00,nan,nan,nan,nan,nan,nan
8923,Maurice,Maïs,4.00,95.00,0.00,"3,064.91",7.15,"303,425,595,000.00",0.99,"7,079,930.55",0.99
10961,Philippines,Perciform,417.00,0.00,0.00,430.62,8.10,"179,569,050,000.00",1.00,"33,758,981.40",1.00
15229,Belgique,Raisin,79.00,0.00,5.00,666.94,0.72,"56,023,193,924.05",0.78,"603,326.70",0.78
1149,Bolivie (État plurinational de),Aliments pour enfants,3.00,0.00,0.00,"3,894.91",16.88,"11,684,745,000.00",1.00,"506,338.95",1.00
9926,Vanuatu,Millet,0.00,0.00,0.00,nan,nan,nan,nan,nan,nan
4675,Gambie,"Épices, Autres",0.00,0.00,0.00,nan,nan,nan,nan,nan,nan
12768,Tadjikistan,Huile de Soja,4.00,0.00,0.00,"9,736.74",nan,"38,946,960,000.00",1.00,nan,nan
13861,Turquie,Piments,19.00,0.00,1.00,"2,879.00",11.52,"57,580,094,736.84",1.05,"2,303,203.79",1.05
12262,Sierra Leone,Racines nda,3.00,0.00,0.00,741.19,1.48,"2,223,580,000.00",1.00,"44,471.60",1.00

In [43]:
# Sommes de ces colonnes, pour les végétaux uniquement
q8_sum_kcal = aliments[aliments['origine']=='Végétale']['q8_kcal'].sum()
q8_sum_kgprot = aliments[aliments['origine']=='Végétale']['q8_kgprot'].sum()

# Personnes qu'on pourrait alimenter avec ces sommes
bouches_q8_kcal = q8_sum_kcal / besoin_kcal
bouches_q8_kgprot = q8_sum_kgprot / besoin_kgprot

# Affichage
print(
    'En calories :\n',
    '{:,}'.format(round(q8_sum_kcal / 10**9)), 'milliards de kcal \n',
    '{:,}'.format(round((bouches_q8_kcal / 10**9), 2)), 'milliards d\'humains \n',
    round(bouches_q8_kcal / population_monde * 100), '% de la population mondiale \n\n',
    'En protéines :\n',
    '{:,}'.format(round(q8_sum_kgprot / 10**9)), 'milliards de kgprot \n',
    '{:,}'.format(round((bouches_q8_kgprot / 10**9), 2)), 'milliards d\'humains \n',
    round(bouches_q8_kgprot / population_monde * 100), '% de la population mondiale'
)

En calories :
 9,173,264 milliards de kcal
 12.57 milliards d'humains
 180 % de la population mondiale

 En protéines :
 204 milliards de kgprot
 10.0 milliards d'humains
 143 % de la population mondiale

## Q9 : Potentiel alimentaire de la dispo. mondiale
Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [44]:
# Disponibilités alimentaires en kcal et kgprot
aliments['dispo_kcal'] = aliments['nourriture'] * 1000000 * aliments['kcal/kg']
aliments['dispo_kgprot'] = aliments['nourriture'] * 1000000 * aliments['% protéines'] / 100

# Sommes de la disponibilité alimentaire mondiale
dispo_mondiale_kcal = aliments['dispo_kcal'].sum()
dispo_mondiale_kgprot = aliments['dispo_kgprot'].sum()

# Test de cohérence : sommes de la disponibilité intérieure mondiale
dispo_int_mondiale_kcal = aliments['dispo_int_kcal'].sum()
dispo_int_mondiale_kgprot = aliments['dispo_int_kgprot'].sum()

# Calories et protéines potentiellement disponibles pour chaque humain en 2013
potentiel_kcal_personne = dispo_mondiale_kcal / population_monde / 365
potentiel_kgprot_personne = dispo_int_mondiale_kgprot / population_monde / 365 * 1000


# Humains qu'on pourrait nourrir avec cette disponibilité
bouches_dispo_mondiale_kcal = dispo_mondiale_kcal / besoin_kcal
bouches_dispo_mondiale_kgprot = dispo_mondiale_kgprot / besoin_kgprot

print(
    'En calories : \n',
    '{:,}'.format(round(dispo_mondiale_kcal / 10**9)), 'milliards de kcal (',
    round(dispo_mondiale_kcal / dispo_int_mondiale_kcal * 100), '% de la dispo. intérieure mondiale) \n',
    round((bouches_dispo_mondiale_kcal / 10**9), 2), 'milliards d\'humains (',
    round(bouches_dispo_mondiale_kcal / population_monde * 100), '% de la population mondiale) \n',
    'On aurait pu fournir ', round(potentiel_kcal_personne), 'kcal/jour à chaque humain en 2013 \n'
)

print(
    'En protéines : \n',
    '{:,}'.format(round(dispo_mondiale_kgprot / 10**9)), 'milliards de kgprot (',
    round(dispo_mondiale_kgprot / dispo_int_mondiale_kgprot * 100), '% de la dispo. intérieure mondiale) \n',
    round((bouches_dispo_mondiale_kgprot / 10**9), 2), 'milliards d\'humains (',
    round(bouches_dispo_mondiale_kgprot / population_monde * 100), '% de la population mondiale) \n',
    'On aurait pu fournir ', round(potentiel_kgprot_personne), 'grammes de protéines / jour à chaque humain en 2013'
)

En calories :
 7,360,355 milliards de kcal ( 53 % de la dispo. intérieure mondiale)
 10.08 milliards d'humains ( 144 % de la population mondiale)
 On aurait pu fournir  2882 kcal/jour à chaque humain en 2013

En protéines :
 207 milliards de kgprot ( 54 % de la dispo. intérieure mondiale)
 10.17 milliards d'humains ( 145 % de la population mondiale)
 On aurait pu fournir  149 grammes de protéines / jour à chaque humain en 2013

## Q10 : Pourcentage de la sous-nutrition mondiale
A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [45]:
# Restriction sur l'année 2013
sous_nutrition = sous_nutrition[sous_nutrition['annee']=='2012-2014']
sous_nutrition['annee'] = '2013'

sous_nutrition.sample(3)

     code_pays                       pays  nb_personnes annee
570        134                      Malte           nan  2013
760         37  République centrafricaine  2,000,000.00  2013
880        201                    Somalie           nan  2013

In [46]:
# Personnes sous-alimentées dans le monde
sousnutrition_monde = sous_nutrition['nb_personnes'].sum()
ratio_sousnutrition = sousnutrition_monde / population_monde

# Pourcentage de la population mondiale sous-alimentée
print(
    'Sous-nutrition :', round(ratio_sousnutrition * 100), '% de la population mondiale \n',
    '(Cohérent avec les 12% pour 2011-2013 estimés par la FAO) \n',
    'Source : http://www.fao.org/3/i3434e/i3434e01.pdf'
)

Sous-nutrition : 11 % de la population mondiale
 (Cohérent avec les 12% pour 2011-2013 estimés par la FAO)
 Source : http://www.fao.org/3/i3434e/i3434e01.pdf

## Q11 : Céréales
Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.
En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

In [47]:
# Liste des céréales
liste_cereales = cereales['produit'].drop_duplicates()
liste_cereales

0                  Blé
1     Riz (Eq Blanchi)
2                 Orge
3                 Maïs
4               Millet
9               Seigle
10              Avoine
12              Sorgho
13    Céréales, Autres
Name: produit, dtype: object

In [48]:
# Dataframe n'incluant que les céréales
aliments_cereales = aliments[aliments['produit'].isin(liste_cereales)]

# Pourcentage de céréales destinées à l'alimentation animale
cereales_alim_ani = aliments_cereales['alim_ani'].sum() / (aliments_cereales['nourriture'].sum() + aliments_cereales['alim_ani'].sum()) * 100

# Test de cohérence : pourcentage de tous les aliments d'origine végétale destinés à l'alimentation animale
aliments_vegetaux = aliments[aliments['origine']=='Végétale']
vegetaux_alim_ani = aliments_vegetaux['alim_ani'].sum() / (aliments_vegetaux['nourriture'].sum() + aliments_vegetaux['alim_ani'].sum()) * 100

print(
    'Proportion des céréales destinée à l\'alimentation animale :', 
    round(cereales_alim_ani), '% \n (',
    round(vegetaux_alim_ani), '% si on se base sur l\'ensemble des végétaux)'
)

Proportion des céréales destinée à l'alimentation animale : 46 %
 ( 24 % si on se base sur l'ensemble des végétaux)

## Q12 : Sous-nutrition
Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.

Repérez les 15 produits les plus exportés par ce groupe de pays.

Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

Question 12 : Donnez les 3 produits qui on t la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

In [49]:
# Jointure de sous_nutrition et population
sous_nutrition = pd.merge(sous_nutrition, population[['pays','population']], on='pays')

# Colonne pourcentage de sous-nutrition pour chaque pays
sous_nutrition['% sous_nutrition'] = sous_nutrition['nb_personnes'] / sous_nutrition['population'] * 100

sous_nutrition.head(3)

   code_pays            pays  nb_personnes annee  population  % sous_nutrition
0          2     Afghanistan  7,900,000.00  2013    30552000             25.86
1        202  Afrique du Sud  2,600,000.00  2013    52776000              4.93
2          3         Albanie    200,000.00  2013     3173000              6.30

In [50]:
# Liste des pays en sous-nutrition (+ de 5% de sous-nutrition)
liste_pays_sousnutrition = sous_nutrition[sous_nutrition['% sous_nutrition'] > seuil_sousnutrition].sort_values(by=['% sous_nutrition'], ascending=False)['pays']

print(
    len(liste_pays_sousnutrition), 'pays sous-alimentés (',
    round(len(liste_pays_sousnutrition) / len(sous_nutrition) * 100), '% de la totalité ) \n \n',
    liste_pays_sousnutrition.head(10)
)

83 pays sous-alimentés ( 48 % de la totalité )

 70                                          Haïti
172                                        Zambie
173                                      Zimbabwe
131                     République centrafricaine
136    République populaire démocratique de Corée
39                                          Congo
157                                         Tchad
5                                          Angola
93                                        Libéria
97                                     Madagascar
Name: pays, dtype: object

In [51]:
# Les 15 produits les plus exportés par les pays en sous-nutrition
pays_sousnutrition_exportes = aliments[aliments['pays'].isin(liste_pays_sousnutrition)].pivot_table('Exportations - Quantité', index='produit').sort_values(by='Exportations - Quantité', ascending=False).head(15).reset_index()['produit']
pays_sousnutrition_exportes

0                  Manioc
1        Riz (Eq Blanchi)
2          Huile de Palme
3                 Bananes
4           Sucre Eq Brut
5                     Blé
6         Légumes, Autres
7                    Maïs
8     Poissons Pelagiques
9          Fruits, Autres
10     Lait - Excl Beurre
11                   Soja
12                 Ananas
13                Tomates
14                   Café
Name: produit, dtype: object

In [52]:
# Les 200 plus grandes importations de ces produits
imports_pays_sousnutrition_exportes = aliments[aliments['produit'].isin(pays_sousnutrition_exportes)].sort_values(by='Importations - Quantité', ascending=False).head(200)
imports_pays_sousnutrition_exportes[['pays','produit','Importations - Quantité']]

                           pays         produit  Importations - Quantité
2567        Chine, continentale            Soja                63,381.00
2537        Chine, continentale          Manioc                29,046.00
7015                      Japon            Maïs                14,403.00
3686                     Égypte             Blé                10,331.00
7539        République de Corée            Maïs                 8,755.00
...                         ...             ...                      ...
5685   Chine - RAS de Hong-Kong  Fruits, Autres                 1,012.00
10278                   Nigéria  Huile de Palme                   999.00
3755                     Égypte   Sucre Eq Brut                   998.00
745                    Autriche            Maïs                   996.00
5041                      Grèce             Blé                   993.00

[200 rows x 3 columns]

In [53]:
# Table pivot
quinze_produits_importes = imports_pays_sousnutrition_exportes.pivot_table(index='produit')

# Ratio autres/dispo.intérieure
quinze_produits_importes['autres_utilisations/dispo_int'] = quinze_produits_importes['autres_utilisations'] / quinze_produits_importes['dispo_int'] * 100

# Ratio nourriture animale / quantité destinée à la nourriture (animale + humaine)
quinze_produits_importes['alim_ani/nourriture_huma_ani'] = quinze_produits_importes['alim_ani'] / (quinze_produits_importes['alim_ani'] + quinze_produits_importes['nourriture']) * 100

quinze_produits_importes

,% protéines,Disponibilité alimentaire en quantité (kg/personne/an),Exportations - Quantité,Importations - Quantité,Production,Variation de stock,alim_ani,annee,autres_utilisations,code_pays,...,pertes,population,q8_kcal,q8_kgprot,q8_test_kcal,q8_test_kgprot,semences,transfo,autres_utilisations/dispo_int,alim_ani/nourriture_huma_ani
produit,,,,,,,,,,,,,,,,,,,,,
Ananas,0.29,6.35,131.00,"2,049.00",171.00,0.00,0.00,2013,0.00,231.00,...,57.00,"320,051,000.00","840,668,605,878.44","6,004,775.76",1.00,1.00,0.00,0.00,0.00,0.00
Bananes,0.74,10.69,440.80,"1,932.60",1.40,0.00,0.00,2013,0.00,195.80,...,68.80,"124,020,000.00","897,578,192,666.66","10,958,116.16",1.00,1.00,0.00,0.00,0.00,0.00
Blé,8.45,92.57,"2,323.50","3,274.39","9,245.22",-148.89,"2,157.93",2013,331.96,137.91,...,352.02,"94,931,978.26","26,564,026,680,368.06","821,534,630.93",0.92,0.92,452.87,130.00,3.30,24.57
Café,5.92,5.51,562.00,"1,493.00",1.50,30.50,0.00,2013,0.00,155.00,...,0.00,"201,389,000.00","412,827,957,500.00","58,622,518.60",1.00,1.00,0.00,0.00,0.00,0.00
"Fruits, Autres",0.58,28.80,814.62,"2,090.75","7,860.50",9.75,0.00,2013,1.50,120.25,...,543.38,"262,655,000.00","3,821,409,472,923.41","47,007,523.69",0.99,0.99,0.00,205.00,0.02,0.00
Huile de Palme,0.45,3.13,"1,907.50","2,647.25","1,700.50",-58.17,0.00,2013,"1,710.67",123.58,...,23.50,"315,389,833.33","7,738,228,206,167.66","2,096,172.28",0.34,0.33,0.00,0.25,71.81,0.00
Lait - Excl Beurre,3.27,155.95,"2,578.66","3,119.45","12,481.28",56.17,"1,051.79",2013,436.52,141.00,...,177.41,"120,423,620.69","6,931,532,386,267.20","413,704,258.40",0.97,0.97,0.00,5.34,3.34,8.42
"Légumes, Autres",1.30,85.38,"1,263.18","2,561.55","6,618.36",1.55,361.82,2013,0.00,142.09,...,661.09,"88,520,818.18","2,078,816,655,796.31","100,399,413.53",1.00,1.00,2.73,14.55,0.00,4.99
Manioc,0.63,12.41,"5,231.40","6,931.00","11,753.00",12.60,"5,029.80",2013,"4,071.00",137.80,...,951.80,"355,007,400.00","16,615,391,214,682.37","115,013,226.34",0.69,0.69,0.00,360.80,30.23,62.24
Maïs,6.31,20.81,"1,092.17","3,567.14","23,339.72","-1,565.52","13,932.48",2013,"6,285.41",133.79,...,631.69,"110,519,379.31","46,735,422,085,133.02","981,404,565.99",0.87,0.87,108.86,"1,359.10",25.92,87.82
Poissons Pelagiques,13.90,6.01,767.00,"2,240.83","1,180.17",28.67,"2,026.00",2013,0.00,127.83,...,0.00,"306,851,166.67","3,136,422,503,119.23","364,759,159.73",1.00,1.00,0.00,0.00,0.00,75.54
Riz (Eq Blanchi),6.90,48.90,125.11,"1,554.44","15,878.89",-615.44,"1,404.89",2013,311.56,150.22,...,790.89,"200,577,222.22","59,275,063,415,250.19","1,082,748,468.40",0.94,0.94,537.44,0.11,1.87,9.33
Soja,24.67,2.87,"2,751.13","6,230.33","7,159.20",-0.27,914.00,2013,34.93,144.87,...,118.47,"190,119,333.33","7,014,107,174,046.31","457,969,826.02",0.18,0.15,239.73,"8,830.27",0.33,64.61
Sucre Eq Brut,nan,24.96,418.12,"2,070.94","3,398.65",-273.00,0.00,2013,211.35,121.12,...,3.76,"241,757,647.06","14,156,234,549,138.53",nan,0.85,nan,0.00,613.00,4.42,0.00
Tomates,0.89,25.26,474.40,"1,428.60","3,210.60",90.40,0.00,2013,0.00,158.40,...,205.20,"134,657,400.00","772,365,219,294.43","35,740,805.51",1.00,1.00,0.00,0.00,0.00,0.00

In [54]:
print('Ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure')
print(quinze_produits_importes['autres_utilisations/dispo_int'].sort_values(ascending=False).head(3), '\n')

print('Ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)')
print(quinze_produits_importes['alim_ani/nourriture_huma_ani'].sort_values(ascending=False).head(3))

Ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure
produit
Huile de Palme   71.81
Manioc           30.23
Maïs             25.92
Name: autres_utilisations/dispo_int, dtype: float64

Ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)
produit
Maïs                  87.82
Poissons Pelagiques   75.54
Soja                  64.61
Name: alim_ani/nourriture_huma_ani, dtype: float64

## Q13 : USA
Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [55]:
# 10% des céréales destinées aux aliments pour animaux, produites par les USA 
usa_cereales_ani = aliments[(aliments['produit'].isin(liste_cereales)) & (aliments['pays']=='États-Unis d\'Amérique')]['alim_ani'].sum() * .1

# Test de cohérence : total mondial des céréales destinées aux aliments pour animaux
monde_cereales_ani = aliments[aliments['produit'].isin(liste_cereales)]['alim_ani'].sum()
population_usa = int(population[population['pays']=='États-Unis d\'Amérique']['population'])

print(
    '10% des céréales produites par les USA, destinées aux animaux =',
    round(usa_cereales_ani), 'milliers de tonnes de céréales \n',
    '- 100% de ces céréales destinées aux animaux aux USA représentent', round(usa_cereales_ani / monde_cereales_ani * 100 * 10), '% de cette même catégorie dans le monde \n',
    '- sachant que la population étasunienne représente', round((population_usa / population_monde * 100), 1), '% de la population mondiale'
)

10% des céréales produites par les USA, destinées aux animaux = 14010 milliers de tonnes de céréales
 - 100% de ces céréales destinées aux animaux aux USA représentent 16 % de cette même catégorie dans le monde
 - sachant que la population étasunienne représente 4.6 % de la population mondiale

In [56]:
# Valeurs nutritionnelles moyennes des céréales
cereales_moyenne_kcal = aliments[aliments['produit'].isin(liste_cereales)]['kcal/kg'].mean()
cereales_moyenne_kgprot = aliments[aliments['produit'].isin(liste_cereales)]['% protéines'].mean()

print('Moyennes des valeurs nutritionnelles des céréales :')
print(round(cereales_moyenne_kcal), 'kcal')
print(round(cereales_moyenne_kgprot), '% \n')

# Personnes qu'on pourrait nourrir avec les 10% de céréales
bouches_cereales_usa_kcal = usa_cereales_ani * 1000000 * cereales_moyenne_kcal / besoin_kcal
bouches_cereales_usa_kgprot = usa_cereales_ani * 1000000 * cereales_moyenne_kgprot /100 / besoin_kgprot

print(
    'Avec les 10% de céréales destinées aux aliments pour animaux des USA, on pourrait potentiellement nourrir : \n\n',
    'En calories :', round(bouches_cereales_usa_kcal / 10**6), 'millions de personnes \n'
    'En protéines :', round(bouches_cereales_usa_kgprot / 10**6), 'millions de personnes \n',
    'Soit en moyenne', round(np.mean([bouches_cereales_usa_kcal,bouches_cereales_usa_kgprot]) / sousnutrition_monde * 100),
    '% de la population mondiale sous-alimentée'
    )

Moyennes des valeurs nutritionnelles des céréales :
2957 kcal
8 %

Avec les 10% de céréales destinées aux aliments pour animaux des USA, on pourrait potentiellement nourrir :

 En calories : 57 millions de personnes
En protéines : 52 millions de personnes
 Soit en moyenne 7 % de la population mondiale sous-alimentée

## Q14 : Thaïlande
En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [57]:
# Exportations de manioc en Thaïlande (milliers de tonnes)
manioc_exports_thai = aliments[(aliments['produit']=='Manioc') & (aliments['pays']=='Thaïlande')]['Exportations - Quantité']

# Proportion des exportations de manioc / le total des exportations
ratio_manioc_exports_thai = manioc_exports_thai / aliments[aliments['pays']=='Thaïlande']['Exportations - Quantité'].sum() * 100

# Ratio de personnes sous-alimentées en Thaïlande
ratio_sousnutrition_thai = sous_nutrition[sous_nutrition['pays']=='Thaïlande']['% sous_nutrition']


print(
    'En Thaïlande : \n\n',
    int(manioc_exports_thai), 'milliers de tonnes de manioc exportées \n',
    '(', int(ratio_manioc_exports_thai), '% du total des exportations ) \n\n',
    round(float(ratio_sousnutrition_thai), 2), '% de la population en sous-nutrition'
)

En Thaïlande :

 25214 milliers de tonnes de manioc exportées
 ( 49 % du total des exportations )

 8.36 % de la population en sous-nutrition

In [58]:
# Valeurs nutritionnelles du manioc en Thaïlande
manioc_thai_kcal = aliments[(aliments['produit']=='Manioc') & (aliments['pays']=='Thaïlande')]['kcal/kg']
manioc_thai_kgprot = aliments[(aliments['produit']=='Manioc') & (aliments['pays']=='Thaïlande')]['% protéines']

bouches_manioc_thai_kcal = int(manioc_exports_thai * 1000000 * manioc_thai_kcal / besoin_kcal)
bouches_manioc_thai_kgprot = int(manioc_exports_thai * 1000000 * manioc_thai_kgprot / 100 / besoin_kgprot)

population_thai = int(population[population['pays']=='Thaïlande']['population'])

print(
    'Valeurs nutritionnelles du manioc en Thaïlande : \n',
    round(int(manioc_thai_kcal)), 'kcal \n',
    round(float(manioc_thai_kgprot), 2), '% de protéines \n\n',
    'Avec les exportations de manioc, on pourrait nourrir : \n'
    'En calories : ', round(bouches_manioc_thai_kcal / 10**6), 'millions de personnes',
    '(', round(bouches_manioc_thai_kcal / population_thai * 100), '% de la population) \n',
    'En protéines : ', round(bouches_manioc_thai_kgprot / 10**6), 'millions de personnes',
    '(', round(bouches_manioc_thai_kgprot / population_thai * 100), '% de la population) \n'
    )

Valeurs nutritionnelles du manioc en Thaïlande :
 1123 kcal
 0.39 % de protéines

 Avec les exportations de manioc, on pourrait nourrir :
En calories :  39 millions de personnes ( 58 % de la population)
 En protéines :  5 millions de personnes ( 7 % de la population)

# **Questions 15 à 20**

## Q15 : Table population
- Clés candidates : 
    - 'code_pays'
    - 'pays'
- Clé primaire retenue : 'pays'

In [59]:
# Tests pour la clé primaire

# Avec la fonction (vérifie toutes les lignes)
pk(population, 'pays')
pk(population, 'code_pays')

# Avec une requête arbitraire
print(
    '\n',
    population[population['pays']=='Albanie'], '\n\n',
    population[population['pays']=='Guatemala'],
)

# Export CSV
population.to_csv('exports/population.csv', index=False)

' pays ' est bien une clé primaire.
' code_pays ' est bien une clé primaire.

    code_pays     pays  population  annee
2          3  Albanie     3173000   2013

     code_pays       pays  population  annee
67         89  Guatemala    15468000   2013

## Q16 : Table dispo_alim
- Clés candidates :
    - 'pays' + 'produit'
    - 'pays' + 'code_produit'
    - 'code_pays' + 'produit'
    - 'code_pays' + 'code_produit'
- Clé primaire retenue : 'pays' + 'produit'

In [60]:
# Création de la colonne dispo_alim_tonnes (?)
aliments['dispo_alim_tonnes'] = aliments['Disponibilité alimentaire en quantité (kg/personne/an)'] * aliments['population'] * 365 / 1000

dispo_alim = aliments[[
    'pays',
    'code_pays',
    'annee',
    'produit',
    'code_produit',
    'origine',
    'dispo_alim_tonnes', # ?
    'dispo_alim_kcal_p_j',
    'dispo_prot',
    'dispo_mat_gr'
]]

# Tests pour la clé primaire
print(
    dispo_alim[(dispo_alim['pays']=='Soudan') & (dispo_alim['produit']=='Blé')], '\n\n\n',
    dispo_alim[(dispo_alim['pays']=='Japon') & (dispo_alim['produit']=='Café')],
)

# Export CSV
dispo_alim.to_csv('exports/dispo_alim.csv', index=False)

         pays  code_pays  annee produit  code_produit   origine  \
15531  Soudan        276   2013     Blé          2511  Végétale

       dispo_alim_tonnes  dispo_alim_kcal_p_j  dispo_prot  dispo_mat_gr
15531     312,056,487.20               197.00        6.18          1.18


        pays  code_pays  annee produit  code_produit   origine  \
6978  Japon        110   2013    Café          2630  Végétale

      dispo_alim_tonnes  dispo_alim_kcal_p_j  dispo_prot  dispo_mat_gr
6978     180,525,408.40                 5.00        0.65          0.00

## Q17 : Table equilibre_prod
- Clés candidates :
    - 'pays' + 'produit'
    - 'pays' + 'code_produit'
    - 'code_pays' + 'produit'
    - 'code_pays' + 'code_produit'
- Clé primaire retenue : 'pays' + 'produit'

In [61]:
equilibre_prod = aliments[[
    'pays',
    'code_pays',
    'annee',
    'produit',
    'code_produit',
    'dispo_int',
    'alim_ani',
    'semences',
    'pertes',
    'transfo', # ?
    'nourriture',
    'autres_utilisations'
]]

# Tests pour la clé primaire
print(
    equilibre_prod[(equilibre_prod['pays']=='Islande') & (equilibre_prod['produit']=='Vin')],'\n\n\n',
    equilibre_prod[(equilibre_prod['pays']=='Italie') & (equilibre_prod['produit']=='Seigle')],
)

# Export CSV
equilibre_prod.to_csv('exports/equilibre_prod.csv', index=False)

         pays  code_pays  annee produit  code_produit  dispo_int  alim_ani  \
6029  Islande         99   2013     Vin          2655       4.00      0.00

      semences  pertes  transfo  nourriture  autres_utilisations
6029      0.00    0.00     0.00        4.00                 0.00


         pays  code_pays  annee produit  code_produit  dispo_int  alim_ani  \
6667  Italie        106   2013  Seigle          2515      39.00     32.00

      semences  pertes  transfo  nourriture  autres_utilisations
6667      1.00    1.00     0.00        6.00                 0.00

## Q18 : Table sous_nutrition
- Clés candidates : 
    - 'code_pays'
    - 'pays'
- Clé primaire retenue : 'pays'

In [62]:
# Projection
sous_nutrition = sous_nutrition[['pays','code_pays','annee','nb_personnes']]

# Tests pour la clé primaire
print(
    sous_nutrition[sous_nutrition['pays']=='Bulgarie'], '\n\n',
    sous_nutrition[sous_nutrition['pays']=='Colombie'],
)

# Export CSV
sous_nutrition.to_csv('exports/sous_nutrition.csv', index=False)

        pays  code_pays annee  nb_personnes
26  Bulgarie         27  2013    400,000.00

         pays  code_pays annee  nb_personnes
38  Colombie         44  2013  4,100,000.00

## Q19 : Requêtes SQL

### Pays aux plus hauts ratios
Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.

- dispo_prot est exprimé en grammes/habitant/jour
- On divise par 1000 pour obtenir la valeur en kg

```sql
SELECT pays, SUM(dispo_prot/1000) AS sum_prot_kg
FROM dispo_alim
GROUP BY pays
ORDER BY sum_prot_kg DESC
```

En première position, l'Islande obtient 0,133kg de protéines par habitant et par jour, soit largement le double du besoin journalier moyen (environ 55g/habitant/jour)

![title](exports/sum_prot_kg.png)

- dispo_alim_kcal_p_j est déjà exprimé en kcal/habitant/jour

```sql
SELECT pays, SUM(dispo_alim_kcal_p_j) AS sum_kcal
FROM dispo_alim
GROUP BY pays
ORDER BY sum_kcal DESC
```

Les dix premiers pays de cette liste dépassent confortablement le besoin calorique journalier par habitant (environ 2300kcal)

![title](exports/sum_kcal.png)

### Pays aux plus faibles ratios
Pour l'année 2013, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant.

```sql
SELECT pays, SUM(dispo_prot/1000) AS sum_prot_kg
FROM dispo_alim
GROUP BY pays
ORDER BY sum_prot_kg ASC
```

Avec des disponibilités allant de 37 à 55 grammes, ces dix pays se situent tous au dessous du minimum de 55 grammes de protéines par habitant et par jour. On franchit le seuil de ces 55 grammes dès le 12ème pays de cette liste (Zambie). 

![title](exports/sum_prot_kg_asc.png)

### Volumes des pertes
La quantité totale (en kg) de produits perdus par pays en 2013.

- pertes est exprimé en milliers de tonnes
- On multiplie par 1000000 pour obtenir la valeur en kg

```sql
SELECT pays, SUM(pertes * 1000000) AS sum_pertes
FROM equilibre_prod
GROUP BY pays
```

![title](exports/sum_pertes.png)

Si on classe les pays par volume de produits perdus, on réalise que les dix premiers pays de cette liste appartiennent pour moitié à la liste des pays sous-alimentés.
```sql
SELECT pays, SUM(pertes * 1000000) AS sum_pertes
FROM equilibre_prod
GROUP BY pays
ORDER BY sum_pertes DESC
```

In [63]:
pays_pertes_desc = pd.Series([
    'Chine, continentale',
    'Brésil',
    'Inde',
    'Nigéria',
    'Indonésie',
    'Turquie',
    'Mexique',
    'Égypte',
    'Ghana',
    'États-Unis d\'Amérique'
])

pd.DataFrame([
    pays_pertes_desc,
    pays_pertes_desc.isin(liste_pays_sousnutrition)
])

,0,1,2,3,4,5,6,7,8,9
0,"Chine, continentale",Brésil,Inde,Nigéria,Indonésie,Turquie,Mexique,Égypte,Ghana,États-Unis d'Amérique
1,True,False,True,True,True,False,False,False,True,False

A l'inverse, aucun des 10 pays accusant le moins de pertes ne figure dans la liste des pays sous-alimentés.
```sql
SELECT pays, SUM(pertes * 1000000) AS sum_pertes
FROM equilibre_prod
GROUP BY pays
ORDER BY sum_pertes ASC
```

In [64]:
pays_pertes_asc = pd.Series([
    'Antigua-et-Barbuda',
    'Bermudes',
    'Islande',
    'Kiribati',
    'Maldives',
    'Saint-Kitts-et-Nevis',
    'Chine - RAS de Macao',
    'Bahamas',
    'Barbade',
    'Grenade'
])

pd.DataFrame([
    pays_pertes_asc,
    pays_pertes_asc.isin(liste_pays_sousnutrition)
])

,0,1,2,3,4,5,6,7,8,9
0,Antigua-et-Barbuda,Bermudes,Islande,Kiribati,Maldives,Saint-Kitts-et-Nevis,Chine - RAS de Macao,Bahamas,Barbade,Grenade
1,False,False,False,False,False,False,False,False,False,False

### Proportion de la sous-nutrition
Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.

Requête imbriquée : entre parenthèses, on joint population et sous_nutrition  :
```sql    
SELECT pays, ( nb_personnes / population ) AS ratio
FROM (
    SELECT * FROM population, sous_nutrition
    WHERE population.pays = sous_nutrition.pays
)
ORDER BY ratio DESC
```

Puis :
```sql    
SELECT pays, ( nb_personnes / population ) AS ratio
FROM sous_nutrition_ratio
ORDER BY ratio DESC
```

6 de ces pays apparaissaient déjà dans la liste des pays au plus faible ratio disponibilité alimentaire/habitant en termes de protéines par habitant (Liberia, République centrafricaine, Madagascar, Haïti, Zimbabwe et Congo).

![title](exports/pays_sousnutrition.png)

[Analyse plus appronfondie sur ce résultat ↓](#Table-des-10-pays-les-plus-sous-alimentés)

### Produits au plus haut ratio autres/dispo_int
Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.

```sql    
SELECT produit, ( autres_utilisations / dispo_int ) AS ratio
FROM equilibre_prod
GROUP BY produit
ORDER BY ratio DESC
```

Seuls 6 produits ont un ratio (autres utilisations / dispo. intérieure) supérieur à 0. Tous sont des huiles et graisses, ou des produits dont on extrait l'huile.

![title](exports/autres_dispo.png)

## Q20 : Autres utilisations des produits
Pour quelques uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !)

La question précédente a montré que  :
    
       - Huile de palme
       - Arachides décortiquées
       - Huile de plantes oléifères
       - Sorgho
       - Plantes oléifères
       - Graisses animales crues

Les huiles et graisses de ces produits sont très utilisés dans l'alimentation industrielle, les cosmétiques et carburants. 

**Huile de palme** : majoritairement utilisée dans l'élaboration de plats préparés, gâteaux et biscuits, mais aussi pour l'oléochimie (cosmétique, peintures et lubrifiants).

**Arachides décortiquées** : on en extrait de l'huile tranformée en margarine ou utilisée comme huile de table. Cette huile est également utilisée dans la savonnerie et la pharmacopée.

**Huile de plante oléifère** et **plantes oléifères** (colza, tournesol, olivier) : hormis l'utilisation de ces huiles pour l'alimentation humaine, on en produit également des biocarburants.  

**Sorgho** : on en extrait du sucre et des alcools, mais aussi de l'agrocarburant et des biomatériaux.

**Graisses animales crues** : servent de base en savonnerie, cosmétique et même parfumerie

Ils affichent tous une forte valeur calorique ↓

In [65]:
aliments[aliments['produit'].isin(
    [
        'Huile de Palme',
        'Arachides Decortiquees',
        'Huil Plantes Oleif Autr',
        'Sorgho',
        'Plantes Oleiferes, Autre',
        'Graisses Animales Crue'
    ]
)].groupby(['produit']).mean()[['kcal/kg','% protéines']]

                          kcal/kg  % protéines
produit
Arachides Decortiquees   5,702.90        25.15
Graisses Animales Crue   7,583.86         1.45
Huil Plantes Oleif Autr  8,848.22         1.10
Huile de Palme           8,719.42         0.49
Plantes Oleiferes, Autre 4,350.09        17.05
Sorgho                   3,060.42         8.71

# **Analyses supplémentaires**

## Chiffres

### Décès dus à la faim
25000 personnes meurent de faim chaque jour ([Source : FAO](http://www.fao.org/french/newsroom/news/2002/9703-fr.html))

In [66]:
morts_jour = 25000
morts_an = morts_jour * 365
print(
    'Soit', round(morts_an / 10**6), 'millions de morts par an \n (',
    round((morts_an / population_monde * 100), 2),'% de la population mondiale )')

population[(population['population']>9*10**6)&(population['population']<10*10**6)]

Soit 9 millions de morts par an
 ( 0.13 % de la population mondiale )

     code_pays                 pays  population  annee
12          52          Azerbaïdjan     9413000   2013
16          57              Bélarus     9357000   2013
50         225  Émirats arabes unis     9346000   2013
73          97              Hongrie     9955000   2013
148        272               Serbie     9511000   2013
154        210                Suède     9571000   2013

### Nombre de personnes sous-alimentées

In [67]:
pop_usa = int(population[population['pays']=='États-Unis d\'Amérique']['population'])
pop_inde = int(population[population['pays']=='Inde']['population'])

print(
    'En 2013,', round(sousnutrition_monde / 10**6), 'millions de personnes dans le monde étaient en sous-nutrition \n',
    '(', round(ratio_sousnutrition * 100), '% de la population mondiale ) \n',
    '(', round(sousnutrition_monde / pop_usa * 100), '% de la population étasunienne ) \n',
    '(', round(sousnutrition_monde / pop_inde * 100), '% de la population indienne )'
)

En 2013, 744 millions de personnes dans le monde étaient en sous-nutrition
 ( 11 % de la population mondiale )
 ( 232 % de la population étasunienne )
 ( 59 % de la population indienne )

### Évolutions possibles pour 2050
Les Nations Unies prévoient que la population mondiale devrait avoisinner 9,7 milliards de personnes en 2050 ([Source : un.org](https://www.un.org/fr/sections/issues-depth/population/index.html#:~:text=Selon%20les%20projections%2C%20la%20population,individus%20vers%20l'an%202100.))

In [68]:
population_monde_2050 = 9.7 * 10**9
ratio_2050_2013 = population_monde_2050 / population_monde
print(
    'Soit', round(ratio_2050_2013 * 100), '% de la population mondiale estimée en 2013.'
)

Soit 139 % de la population mondiale estimée en 2013.

In [69]:
print(
    'Sans évolution positive de la malnutrition, en 2050 :\n', 
    '-', round((population_monde_2050 * ratio_sousnutrition / 10**9), 2),
    'milliard de personnes seront sous-alimentées \n'

    ' -', round(morts_an * ratio_2050_2013 / 10**6),
    'millions de personnes mourront de la faim'

)

Sans évolution positive de la malnutrition, en 2050 :
 - 1.03 milliard de personnes seront sous-alimentées
 - 13 millions de personnes mourront de la faim

## Causes de la sous-alimentation
Parmi les causes communément admises, on peut citer :
   - Les changements et catastrophes climatiques
   - La problématique de l'eau
   - Les guerres et conflits
   - Les inégalités et la pauvreté
   - La croissance démographique
   - La mauvaise gestion des ressources alimentaires

### Les pertes représentent à elles-seules 5% de la disponibilité intérieure mondiale

In [70]:
dispo_int_mondiale = aliments['dispo_int'].sum()
pertes_mondiales = aliments['pertes'].sum()
nourriture_mondiale = aliments['nourriture'].sum()

ratio_pertes_dispo = pertes_mondiales / dispo_int_mondiale
ratio_nourriture_dispo = nourriture_mondiale / dispo_int_mondiale

print(
    'Les pertes représentent', 
    round(ratio_pertes_dispo * 100),
    '% de la dispo. intérieure mondiale \n',
    'Quand la nourriture destinés aux humains représente', 
    round(ratio_nourriture_dispo * 100),
    '% de la dispo. intérieure mondiale',
)

Les pertes représentent 5 % de la dispo. intérieure mondiale
 Quand la nourriture destinés aux humains représente 50 % de la dispo. intérieure mondiale

### Table des 10 pays les plus sous-alimentés
La table ci-dessous détaille la relation des [10 pays les plus sous-alimentés au monde](#Proportion-de-la-sous-nutrition) à chacune de ces causes ↓

In [71]:
sous_nutrition_10pays = pd.read_csv('exports/sous_nutrition_10pays.csv')
sous_nutrition_10pays

,pays,catastrophes et changement climatique,accès à l'eau,pauvreté,croissance démographique (2013),conflit (territorial),fin conflit,occupation,libération,régime
0,Haïti,"tempêtes, séismes",faible,"78,00%","1,30%",renversement,1995,étrangère,1934,République
1,Zambie,sécheresse,faible,"87,00%","3,10%",guerre,1988,coloniale,1964,République
2,Zimbabwe,sécheresse,moyen,"74,00%","1,80%",guerre civile,1979,coloniale,1964,République
3,République centrafricaine,inondations,faible,"92,00%","0,30%",guerre civile,2014,coloniale,1960,République
4,République populaire démocratique de Corée,inondations,moyen,?,"0,50%",guerre,actif,étrangère,1948,République
5,Congo,inondations,faible,"82,00%","3,30%",guerre civile,2003,coloniale,1960,République
6,Tchad,"sécheresse, inondations",faible,"86,00%","3,40%",guerre civile,2010,coloniale,1960,République
7,Angola,inondations,faible,"87,00%","3,60%",guerre civile,2002,coloniale,1975,République
8,Libéria,montée des eaux,faible,"92,00%","2,70%",guerre civile,2003,-,1848,République
9,Madagascar,montée des eaux,faible,"97,00%","2,70%",guerre,1945,coloniale,1960,République
10,France,canicule,fort,"0,20%","0,50%",guerre,1945,étrangère,1945,République
11,Japon,séisme,fort,"1,00%","-0,10%",guerre,1945,étrangère,1952,Monarchie

On remarque des similitudes quasi-systématiques entre ces 10 pays :

- de très forts taux de pauvreté ([ressources inférieures à 5,50 dollars par personne et par jour](https://en.wikipedia.org/wiki/List_of_countries_by_percentage_of_population_living_in_poverty))
- une croissance démographique forte
- un accès à l'eau potable encore restreint
- une récurrence des épisodes de sécheresse et d'inondations
- un conflit armé ces 30 dernières année
- une domination étrangère jusqu'aux années 60


A titre de comparaison, 2 pays n'appartenant pas à cette liste figurent en queue de liste.

# Sources

- Lien entre eau et nutrition : [actioncontrelafaim.org](https://www.actioncontrelafaim.org/a-la-une/nutrition_eau_world_water_forum/)
- La moitié des personnes sous-alimentées vivent dans des pays touchés par la guerre : [theconversation.com](https://theconversation.com/world-hunger-is-increasing-thanks-to-wars-and-climate-change-84506)
- Le gaspillage représente 1/3 de la nourriture destinée aux humains : [FAO](http://www.fao.org/state-of-food-agriculture/fr/#:~:text=L'estimation%20g%C3%A9n%C3%A9rale%20fournie%20par,perdue%20ou%20gaspill%C3%A9e%20chaque%20ann%C3%A9e.&text=L'Indice%20du%20gaspillage%20alimentaire%2C%20calcul%C3%A9%20par%20le%20PNUE%2C,d%C3%A9tail%20et%20de%20la%20consommation)